[2019-06-10 10:03] sumitkantsinha opened #1841 "Can't login to azure VM created from rhcos-410.8.20190504.0-azure.vhd image"
# Version

[code]

# Platform (aws|libvirt|openstack):

 Azure

# What happened?
I followed the steps as mentioned in https://github.com/openshift/installer/blob/master/docs/user/azure/install.md & created an image of rhcos-410.8.20190504.0-azure.vhd, from the azure image, i have created an azure VM, but i am not able to login to the VM with the provided userid & password ( provided during VM crea

[2019-06-10 10:25] mjudeikis opened #1842 "dep update fails"
We are trying to consume `installer` as a package. For this to work we "vendor in" installer, and try to resolve dependencies:

On our repository:
[code]

The error we get from installer repo (after pinning some of the dependencies to match installer repo):
[code]

The same error is raised in master branch of the installer if executed:
[code]

This comes from the fact that `controller-runtime` rep

[2019-06-10 10:39] mjudeikis commented on #1842
And I can see that partially rebase is blocked on cluster-api rebase

[2019-06-10 16:42] wking commented on #1837
https://github.com/code-ready/crc is working on packaging for local-VM use-cases, you probably want to check there.

/close

[2019-06-10 16:42] #1837 closed

[2019-06-10 16:44] wking commented on #1831
@DanyC97 turned up the existing #1766 tracker.

/close

[2019-06-10 16:44] #1831 closed

[2019-06-11 00:34] abhinavdahiya commented on #1840
The installer provide **examples** for how to create clusters for user-provisioned. The users can use any provider they like, as long the DNS, LB requirements are being fulfilled.

/close

[2019-06-11 00:34] #1840 closed

[2019-06-11 00:37] abhinavdahiya commented on #1841
1. https://github.com/openshift/installer/blob/master/docs/user/azure/install.md
Doesn't provide an instructions to create a Azure VM, the installer will create them for you.

2. Cant login with username password specified.
Red Hat Linux Enterprise CoreOS does not ship with Azure agents that allow setting password for user using serial console..
You should use the Ignition configs to setup authori

[2019-06-11 00:37] #1841 closed

[2019-06-11 09:16] DanyC97 commented on #1840
with all respect @abhinavdahiya you were missing the point here, so let expand a bit (in case you ever read this again) ....

i understand that installer does provides examples for UPIs however this examples are most of the time used by folks coming and exploring how things are being done. It was the case with [openshift-ansible-contrib](https://github.com/openshift/openshift-ansible-contrib) exam

[2019-06-11 12:54] bysnupy opened #1844 "Provide "API URL" additionally when installation complete"
# Version

[code]

# Platform (aws|libvirt|openstack):

`aws`

# What happened?

For more clarification, it had better to add `API URL` to installation result summary.

Look [login to ocp4 shows error - error: invalid character '<' looking for beginning of value](https://bugzilla.redhat.com/show_bug.cgi?id=1673911) it's confusing for users.
Because  `API URL` was same with web console URL at `v3.x

[2019-06-11 13:33] Fodoj opened #1845 "vmware missing documentation"
In terraform example for VMware there is a reference to a template: https://github.com/openshift/installer/blob/master/upi/vsphere/machine/main.tf#L41

How is this template created out of .ova file?

[2019-06-11 13:33] abhinavdahiya commented on #1844
The kubeconfig provided to the user has the API_URL set. So I don't think there's a need to provide that information again.

[2019-06-11 14:15] staebler commented on #1845
See https://docs.openshift.com/container-platform/4.1/installing/installing_vsphere/installing-vsphere.html#installation-vsphere-machines_installing-vsphere.

[2019-06-11 14:20] Fodoj commented on #1845
This documentation doesn't show how to create a template though, only one VM after another

[2019-06-11 14:37] staebler commented on #1845
Step 6. "In the vSphere Client, create a template for the OVA image."

[2019-06-11 15:12] bysnupy commented on #1844
Thank you for update @abhinavdahiya,
I also agree your thought.
But I think it's reasonable to provide API URL from installation summary even though it's duplicated. It's kind way to user and It may save some time looking for API URL or suppress some issues like using console URL as API URL.

[2019-06-11 17:42] Fodoj commented on #1845
Does it mean creating a VM out of it first and then cloning this VM to template? Will this allow to override ignition configurations and if yes - how?

[2019-06-11 17:55] staebler commented on #1845
Yes. You create a VM using the OVA image. Then, you clone that VM to create the bootstrap, control plane, and compute VMs. You can set the ignition configurations on each of those by setting the vApp properties. The ignition configurations can be modified until the first boot. So, as long as you do not set the ignition configuration on the template VM and boot that template VM, then you can set th

[2019-06-11 20:55] Fodoj commented on #1845
Does it mean I won't be able to use regular ignition as a provisioning user data? Only passing it as vApp is supported right now ? Thanks for your answers!

[2019-06-11 21:48] nileshalhat commented on #411
DONE..! Thank You,,!

[2019-06-12 13:53] ams0 commented on #1817
Gathered this output:

[code]

[code]

[2019-06-12 15:16] zeenix commented on #1741
/label platform/libvirt

[2019-06-12 15:17] zeenix commented on #1716
/label platform/libvirt

[2019-06-12 15:18] zeenix commented on #1648
/label platform/libvirt

[2019-06-12 16:06] #1845 closed

[2019-06-12 17:29] zeenix commented on #1443
/label platform/libvirt

[2019-06-12 17:30] zeenix commented on #1457
/label platform/libvirt

[2019-06-12 17:30] zeenix commented on #1485
/label platform/libvirt

[2019-06-12 17:33] zeenix commented on #1485
IMO it's a bit early to set specific requirements. Hopefully when things are more stable (4.2 or 4.3 maybe), we could specify the exact requirements. I'd very much prefer a separate issue for that (I think there already is?) so closing this one.

/close

[2019-06-12 17:33] #1485 closed

[2019-06-12 17:35] zeenix commented on #1428
/label platform/libvirt

[2019-06-12 17:36] zeenix commented on #1357
/label platform/libvirt

[2019-06-13 04:18] glennswest commented on #1838
brew install minishift
minishift start

So yes, its a huge increase.

Second the number of dns entries. Before only needed 1 and 1 wildcard, and a noip would work for 1 of those.

The kvm support not being backed in is another pain, and on top of that, it does not work with default kvm rpm, even on rhel8. Fedora maybe it will work.

Also the manual flow for bare metal, which really requires the se

[2019-06-13 15:59] zeenix commented on #1248
I guess this is resolved by now so I'm closing already. If not, it's probably a dup of #1428.

/close

[2019-06-13 15:59] #1248 closed

[2019-06-13 20:48] abhinavdahiya commented on #1838
The docs provide accurate description of the requirements for the productions environment.
/close

bare metal doesn't require pxe boot, booting from iso is also supported. https://docs.openshift.com/container-platform/4.1/installing/installing_bare_metal/installing-bare-metal.html#installation-user-infra-machines-iso_installing-bare-metal

please open a specific bug on what information was missing

[2019-06-13 20:48] #1838 closed

[2019-06-13 22:55] DanyC97 commented on #1838
in fairness @glennswest i think you are making a fair comparison.
Yes in 3.x you had minishift and `oc cluster up` however none of them were exercising 3.x openshift-ansible installer and as such you were getting different behaviour/ output.

Now the installer primary goal is for real (production) deployments however is flexible enough to reduce the footprint should you wish.

if you would look in

[2019-06-14 11:08] mandre commented on #1834
It looks like gophercloud wasn't able to authenticate against your `ose4` cloud.

The logs say "You must provide exactly one of DomainID or DomainName to authenticate by Username".
Check that you only have either DomainID or DomainName in your clouds.yaml file for `ose4`, not both at the same time.

On our side, we should  handle the error better instead of spitting out misleading Terraform failur

[2019-06-14 11:32] ayaseen commented on #1834
This what I have in clouds.yaml

  ose4:
    auth:
      auth_url: http://192.168.1.3:5000/v3
      username: "demo1"
      project_name: "demo"
      password: "demo1"
      user_domain_name: "Default"
      project_domain_name: "Default"
    region_name: "RegionOne"
    interface: "public"
    identity_api_version: 3

Also I dsiable user_domain_name , still quickly got the errors.

[2019-06-14 11:42] mandre commented on #1834
Try removing `project_domain_name`.
If you have access to horizon you could  connect to your cloud and download valid clouds.yaml file from "Project > API Access".

[2019-06-14 11:55] mjudeikis opened #1851 "Azure destroyer fails on DNS delete"
# Version
Master

# Platform (aws|libvirt|openstack):
Azure

# What happened?

Azure is using private DNS groups.
Azure destroyer is using `RG` api to delete all resources.
`RG/ARM` api is using old dns client so deletion of private DNS zones does not work.

How to recreate:
1. Create RG with private DNS record inside of it
2. Try delete DNS record directly - works.
3. Try delete RG with all the r

[2019-06-14 14:45] asorokhtey opened #1853 "Installer failed but cluster was created"
# Version

[code]

# Platform:
aws

# What happened?

I've tried to create cluster two times but installer failed with error:
```RROR Error: Error applying plan: ERROR ERROR 1 error occurred: ERROR * module.dns.aws_route53_record.api_external: 1 error occurred: ERROR * aws_route53_record.api_external: [ERR]: Error building changeset: InvalidChangeBatch: [Tried to create resource record set [name='

[2019-06-14 18:36] cgwalters commented on #1399
Maybe this would be better:
[code]

We can't easily right now do the "download" part without having an online service which maps from e.g. `ostree-version` to OpenShift versions.

[2019-06-14 18:48] abhinavdahiya commented on #1851
I'm not sure this is an installer bug. Azure should be capable of deleting the resource group and items inside it unless there is dependencies outside the resource group.

[2019-06-14 18:58] abhinavdahiya commented on #1853
If you used installer to create 2 clusters, I think it is expected that you get resources created for 2 clusters..? So i'm not sure why expectation was `Only one cluster created`.

Destroy your cluster (or even partially created cluster) using `openshift-install destroy cluster`, before you retry to create another cluster.

That error specifies that DNS records already exist for that name, and cre

[2019-06-14 18:58] #1853 closed

[2019-06-15 04:50] jomeier opened #1854 "OpenStack: HA proxy on service vm switches back and forth from/to bootstrap and production cluster"
Hi,

# What happened?
On the api VM with HAProxy and CoreDNS after around 10-15 Minutes HAProxy starts continuously to restart.

It looks like the haproxy-watcher triggers a switch over from the bootstrap node to the production cluster too early.

In my case the production control plane wasn't ready. The API server hasn't started leading to a broken install.

If I turn off the haproxy-watcher, I g

[2019-06-15 05:19] jomeier commented on #1854
[code]

[2019-06-15 05:53] jomeier commented on #1854
Maybe it has something to do with the haproxy-watcher service. Maybe the watcher script gets some nonsense back from the unhealthy cluster which triggers stuff (new haproxy config, restart of the haproxy service, ...) which is not wanted at that point in time?

[2019-06-16 09:58] jomeier opened #1855 "Some components stay in 'pending' state because nodes have taints 'noschedule' on them?"
Hi,

during one hour of installation of OpenShift 4 on OpenStack stein I found all pods running instead a few (registry, prometheus, ...) which stayed in 'pending' state.

After a little bit of research I found out that all master nodes had this taint on them:
[code]

The installer stopped after a while because of time out.

I removed the taints from the master nodes and the pending pods started d

[2019-06-17 00:22] jichenjc opened #1857 "openstack: Error: cloud openstack does not exist in clouds.yaml"
# Version

[code]
[root@jichen-openstack-1 installer]# bin/openshift-install version
bin/openshift-install unreleased-master-1125-g40c771692dfab964294b8022d810921e1bb5b4c1-dirty
built from commit 40c771692dfab964294b8022d810921e1bb5b4c1
release image registry.svc.ci.openshift.org/origin/release:4.2

# Platform (aws|libvirt|openstack):

Enter text here.

# What happened?
follow the README and use `

[2019-06-17 00:22] jichenjc commented on #1857
/assign

[2019-06-17 01:05] jichenjc commented on #1857
/bug

[2019-06-17 01:14] jichenjc opened #1859 "openstack: delete cluster will never end"
# Version

[code]
bin/openshift-install unreleased-master-1125-g40c771692dfab964294b8022d810921e1bb5b4c1-dirty
built from commit 40c771692dfab964294b8022d810921e1bb5b4c1
release image registry.svc.ci.openshift.org/origin/release:4.2

# Platform (aws|libvirt|openstack):
openstack

Enter text here.

# What happened?

delete cluster never end, use debug option shows it keep deleting network and subne

[2019-06-17 01:14] jichenjc commented on #1859
/assign

[2019-06-17 06:59] mjudeikis commented on #1851
Its not Installer bug, its Azure. This is just workaround until its get sorted in azure. Azure ARM API uses old API for tested resources when using resource API. Im in private conversation with MSFT on this.

[2019-06-17 07:21] mjudeikis commented on #1842
[code]

Overall its due to lose vendor packages. When trying to resolve main squashed dep tree - it fails

[2019-06-17 09:31] zeenix commented on #1859
@jichenjc Thanks for the report. Could you please edit the description to specify the platform?

[2019-06-17 09:37] jichenjc commented on #1859
@zeenix thank you for reminder, I updated just now , as title indicated, it's an openstack issue :)

[2019-06-17 12:25] zeenix commented on #1357
/assign

[2019-06-17 12:25] zeenix commented on #1457
/assign

[2019-06-17 12:28] cfergeau commented on #1767
This is already tracked in issue #1183 and PR #675

[2019-06-17 13:11] tomassedovic commented on #1855
Yes, some of the pods are expected to run on the worker nodes. The OpenShift console (the web UI) is another example.

The installer will eventually fail if at least one worker doesn't came up because these pods won't get scheduled.

[2019-06-17 14:48] zeenix commented on #1767
/duplicate #1183

[2019-06-17 14:53] zeenix commented on #1767
Hm.. I could swear i saw this command. Anyway.

/close
/label triage/duplicate

[2019-06-17 14:53] #1767 closed

[2019-06-17 15:01] zeenix commented on #1309
Duplicate of #1428 i think.

/label triage/duplicate

/close

[2019-06-17 15:01] #1309 closed

[2019-06-17 15:05] zeenix commented on #1443
I'm guessing this is no longer reproducible.

/lifecycle stale

[2019-06-17 15:07] zeenix commented on #1443
The workaroundable console issue is tracked in #1007.

/close

[2019-06-17 15:07] #1443 closed

[2019-06-17 16:04] zeenix commented on #1648
AFAICT the remaining problem here is the one tracked by #1007. Closing this in favour of that.

/close

[2019-06-17 16:04] #1648 closed

[2019-06-17 16:20] zeenix opened #1860 "Worker resources not sufficient"
With recent versions of operators, worker node resources are no longer sufficient for prometheus pods to start:

[code]

# Version

[code]

# Platform (aws|libvirt|openstack):

libvirt

[2019-06-17 16:20] zeenix commented on #1860
/label platform/libvirt

[2019-06-17 16:20] zeenix commented on #1860
/assign

[2019-06-17 20:05] mjudeikis commented on #1851
/close
fixed in upstream

[2019-06-17 20:05] #1851 closed

[2019-06-18 06:49] mandre commented on #1859
Could it be that you provisioned another VM on the same subnet and that causes OpenStack to refuse to remove the networking resources because they're still in use?

[2019-06-18 07:31] jichenjc commented on #1859
no, I am following the instructions and no other vm created... and, several times has same result
I think something like 'router interface remove' didn't execute but not 100% sure, still debuging

[2019-06-18 09:33] mandre commented on #1854
Yes, I also noticed the haproxy-watcher service does weird stuff that could cause back and forth between the bootstrap and the production control plane. In my experience though, the LB setup will eventually converge to the production control plane once it is stable.
FYI we're in the process of removing the API VM (since it's single point of failure), and move the LB service to the master nodes. Th

[2019-06-18 12:21] mandre commented on #1857
I'm not able to reproduce this issue with the latest master even when changing my clouds.yaml to look like the one in the README. Do you mind posting your clouds.yaml file?

[2019-06-18 13:30] mjudeikis opened #1862 "prevent sensitive data in log output"
When running test clusters in CI sometimes cluster are long lived for debug purposes.
When consuming installer as a library we need a way to tell "installer" to either obfuscate or not log at all sensitive data as the same process is provisioning multiple clusters and we can't log any sensitive data.

[code]

The proposal would be to add some kind of flag/field into `InstallConfig` or just into `c

[2019-06-18 13:50] mjudeikis opened #1864 "[RFE] Provide customer logrus logger and ctx"
When consuming installer as a library we need a way to provide unified `logrus.Entry` and `context` so we can control processes behaviour.

In an example, `logrus.Entry` would contain `loglevel`, `customerID`
[code]

This would allow identifying individual provisioning actions based on log fields.

Context would contain unique credentials for cluster creation:
[code]

so sensitive data can be cont

[2019-06-18 14:43] bison opened #1865 "[RFE] Installer does not use existing SSH agent"
# Version

[code]

# Platform (aws|libvirt|openstack):

AWS

# What happened?

The install failed, and the installer was not able to SSH to the machines to gather logs:
[code]

# What you expected to happen?

The installer should have been able to gather the logs using my already running SSH agent. My private keys are not stored on disk. If the SSH connection could not be established, the installe

[2019-06-18 16:07] abhinavdahiya commented on #1862
The print commands are not part of the Cluster asset, but rather part of the list of wait-for steps.. so you can implement for your own wait-for.

/close

[2019-06-18 16:07] #1862 closed

[2019-06-19 01:06] jichenjc commented on #1857
The code I am using  is 40c771692dfab964294b8022d810921e1bb5b4c1, which is Jun 14

clouds.yaml

[root@jichen-openstack-1 installer]# cat clouds.yaml
clouds:
  shiftstack:
    auth:
      auth_url: http://10.43.0.185:5000/v3
      project_name: admin
      username: admin
      password: xxxxxxxxxx
      user_domain_name: Default
      project_domain_name: Default

the difference is I am using foll

[2019-06-19 01:25] jichenjc commented on #1857
sorry, I tried again by using create cluster directly just now, same result...

[code]

[2019-06-19 01:25] jichenjc commented on #1857
terraform.openstack.auto.tfvars.json

[code]

[2019-06-19 09:37] bison commented on #1865
Ah, I think I was reading `defaultPrivateSSHKeys()` wrong. Sorry about that. I think the points about existing SSH agents and printing manual instructions still stand though.

[2019-06-19 10:12] mandre commented on #1857
Thanks! You can workaround the issue by exporting the `OS_CLOUD` environment variable prior to deploying, it will take precedence over the `openstack_credentials_cloud` tf var.
I always have the OS_CLOUD variable set and that's the reason I couldn't reproduce at first.

https://github.com/openshift/installer/pull/1858 is likely a step in the right direction however there seems to be some assumptio

[2019-06-19 13:12] bison commented on #1865
I actually have a patch for this, but now my installs are succeeding and I'm not sure how I can test it end-to-end with the installer. Any tips?

[2019-06-19 16:44] abhinavdahiya commented on #1865
you can Ctrl-C after the API is up to prevent installer to remove the bootstrap node. and then use `gather bootstrap` subcommand.

you can also put an expired pull-secret for installation that will fail during bootstrap and trigger the `gather bootstrap`

[2019-06-19 16:48] abhinavdahiya commented on #1865
NO
if keys were specified, newAgent fails if any key fails to load.
if no keys were specified, newAgent fails only when `defaultPrivateSSHKeys` returns error, which is when **no** key could be loaded from `~/.ssh`

I do not agree with this. Installer allows user to either give it the keys in the `gather bootstrap` or it tries to load the keys from user''s environment. There is not need to return t

[2019-06-19 17:01] bison commented on #1865
Yeah, sorry I had misread the `defaultPrivateSSHKeys` bit. I don't really care too much about printing the commands, so no real argument from me on that point.

I think using an existing SSH agent is important though. I'll try your suggestion of just interrupting the installer after the API is up and open a PR if things work. Thanks!

[2019-06-19 22:17] rajatchopra opened #1874 "Duplicate nodes joining a cluster"
# Version

![openshift-install-version](https://user-images.githubusercontent.com/982221/59804513-64348980-92a3-11e9-8220-9ea35216a70a.png)

# Platform (aws|libvirt|openstack):

AWS

# What happened?

Node registered twice over. Once with a hostname 'localhost.localdomain' (probably when its booting up?). Then with the correct hostname (worker-0). See that the IP address is the same (10.136.6.41).

[2019-06-19 22:17] rajatchopra commented on #1874
/cc @zvonkok

[2019-06-19 22:29] abhinavdahiya commented on #1874
The platform mentioned here is `AWS` but the node names indicate towards a non-installer-provisioned cluster where the hostnames were either manually supplied rather than the `Just the regular openshift install process.`?

Can you include the steps that were taken for this setup and also include the `.openshift_install.log` _make sure you remove any personal or secret data_

Also if the cloud prov

[2019-06-20 01:16] jichenjc commented on #1857
I don't fully understand the 'the cloud name causing the workers no to come up'
as if I manually change openstack_credentials_cloud,  and try again, everything is fine...
anyway, if you can provide some guide / hint on what's the proper fix, it will be very helpful~

[2019-06-20 16:39] #1865 closed

[2019-06-20 19:50] abhinavdahiya commented on #1855
OpenShift currently requires worker nodes for complete installation, so I'm not sure what's the issue here.

And as for allowing workloads on control plane nodes, that's an RFE that we are already tracking.

/close

[2019-06-20 19:50] #1855 closed

[2019-06-20 19:52] abhinavdahiya commented on #1844
The installer is explicit that the url is for the console, and I don't think duplicating the API URL, as the API url is only useful for clients of the API, which all of them require kubeconfig...

/close

[2019-06-20 19:52] #1844 closed

[2019-06-20 19:54] abhinavdahiya commented on #1842
https://github.com/openshift/installer/pull/1872/files reduces the surface installer depends on sigs.k8s.io/controller-runtime/pkg/scheme
And as for vendoring installer, you can override the packages too.

/close

[2019-06-20 19:54] #1842 closed

[2019-06-20 19:55] abhinavdahiya commented on #1817
Our CI runs (for master) show successful installs for Azure. Feel free to re-open if you see the error again...

/close

[2019-06-20 19:55] #1817 closed

[2019-06-20 20:00] abhinavdahiya commented on #1784
from the logs:
[code]
it looks like you do have local libvirt provider in terraform's search path. Please remove that and retry.

Feel free to re-open, if you see the error again.

/close

[2019-06-20 20:00] #1784 closed

[2019-06-20 20:01] abhinavdahiya commented on #1773
The installer doesn't have ironic backends. Maube open bug with https://github.com/openshift-metal3/kni-installer

/close

[2019-06-20 20:01] #1773 closed

[2019-06-20 20:02] abhinavdahiya commented on #1745
Please re-open if issue re-appears.

/close

[2019-06-20 20:02] #1745 closed

[2019-06-20 20:08] abhinavdahiya commented on #1524
/close

[2019-06-20 20:08] #1524 closed

[2019-06-20 20:09] abhinavdahiya commented on #1383
This is not a problem with the install.. rather the upstream client library.

/close

[2019-06-20 20:09] #1383 closed

[2019-06-20 20:10] abhinavdahiya commented on #1360
/close

[2019-06-20 20:10] #1360 closed

[2019-06-20 20:11] abhinavdahiya commented on #1144
/close

[2019-06-20 20:11] #1144 closed

[2019-06-20 20:12] abhinavdahiya commented on #965
/close

[2019-06-20 20:12] #965 closed

[2019-06-20 20:13] abhinavdahiya commented on #762
This is now supported.

/close

[2019-06-20 20:13] #762 closed

[2019-06-20 22:48] rajatchopra commented on #1874
@abhinavdahiya You are right. This was not on AWS. But a baremetal deployment.

@SteveNashNVIDIA Any more info you happen to have?

[2019-06-20 22:56] SteveNashNVIDIA commented on #1874
All the nodes were deployed together, but after ~1 week or so, the node that is duplicated (worker-0) was redeployed.  The hostname is provided via the DNS nameserver.  Attaching log.

[openshift_install.log](https://github.com/openshift/installer/files/3312332/openshift_install.log)

[2019-06-20 23:34] abhinavdahiya commented on #1874
So this doesn't look like an installation problem. @rajatchopra @SteveNashNVIDIA can you open a bugzilla using the link https://bugzilla.redhat.com/enter_bug.cgi?product=OpenShift%20Container%20Platform so that we can get the OS and Machine Config Operator teams involved as they own the configuration of the hosts... ?

[2019-06-21 07:53] bysnupy commented on #1844
@abhinavdahiya Thank you for your response.

[2019-06-21 12:31] neuroserve opened #1884 "Cluster deployment does not finish on vsphere"
# Version

[code]

# Platform (aws|libvirt|openstack):
Platform is vsphere

[root@console ~]# govc about
Name:         VMware vCenter Server
Vendor:       VMware, Inc.
Version:      6.7.0
Build:        13007421
OS type:      linux-x64
API type:     VirtualCenter
API version:  6.7.2
Product ID:   vpx
UUID:         1d884c6e-a1ac-4daf-9e25-b197e7f6bd91

VMs have a hw version of 15.

# What happened?

[2019-06-21 12:32] neuroserve commented on #1884
[code]

[2019-06-21 13:27] ckyriakidou commented on #1083
I'm in a similar situation where IHAC where IPI would absolutely be suitable apart from the fact that my customer wants to define the networking and permissions around the VPC. Actually it would be even more useful to have something like "IPI light" - pre-existing VPC where defined restrictions apply on what it can contact within an organisation (doesn't have to be peering - it could be transit ga

[2019-06-21 13:45] staebler commented on #1884
This looks to be an occurrence of a bug that happens occasionally with the installation. The memory requirements look to be sufficient. Would you be willing to retry the installation?

[2019-06-21 13:46] staebler commented on #1884
See https://bugzilla.redhat.com/show_bug.cgi?id=1717257.

[2019-06-21 16:28] csrwng opened #1886 "Cluster uninstall stuck on non-existent s3 bucket"
Seeing this error in the logs (for a few days):
[code]

The SRE team checked for the existence of the bucket (`arn:aws:s3:::terraform-20190618120206407100000001`) and it's not there.

The bucket is returned when searching by tag:
[code]

However, it is not returned when listing buckets directly:
[code]

[2019-06-21 18:34] Sofia-Gonzalez-Unlam opened #1887 "Is this repository used to install Openshift version 4 on RedHat 7?"
Good afternoon.
Please, your help.
Is this repository used to install Openshift version 4 on RedHat 7?

Many thanks.
Regards.

[2019-06-21 21:16] abhinavdahiya commented on #1887
OpenShift 4 is installed on Red Hat Linux Enterprise CoreOS. For more details checkout https://docs.openshift.com/container-platform/4.1/welcome/index.html

/close

[2019-06-21 21:16] #1887 closed

[2019-06-21 23:59] #1886 closed

[2019-06-22 12:06] #1860 closed

[2019-06-24 06:49] neuroserve commented on #1884
I re-tried the installation. I used the https://mirror.openshift.com/pub/openshift-v4/clients/ocp/4.1.3/openshift-install-linux-4.1.3.tar.gz installer. But obviously I shouldn't have:

[code]
I'll try again now with 4.1.2.

[2019-06-24 07:18] neuroserve commented on #1884
OK. Re-trying with 4.1.2 comes up to this stage:
[code]
I'll try and dig a little deeper. If you have any hints for me, feel free :-)

[2019-06-24 08:56] neuroserve commented on #1884
Now this:
[code]
What does
[code]

[2019-06-24 09:41] neuroserve commented on #1884
Not even 4.1.0 works:
[code]
Why is even 4.1.0 pulled from the "fast" channel? I'd expected "channel: stable-4.1". Where is this channel selected?

[2019-06-24 10:49] neuroserve commented on #1884
[code]

[2019-06-24 10:50] zeenix opened #1893 "CSR not getting approved for libvirt & baremetal platforms"
# Version: master

# Platform: libvirt

# What happened?

Our `e2e-libvirt` CI job currently doesn't succeed because of CSR not getting approved. This is likely due to misconfigured firewall but needs investigation.

https://storage.googleapis.com/origin-ci-test/pr-logs/pull/openshift_installer/1883/pull-ci-openshift-installer-master-e2e-libvirt/478/build-log.txt

/assign @praveenkumar
/label plat

[2019-06-24 12:10] praveenkumar commented on #1716
/label doc

[2019-06-24 12:12] zeenix commented on #1668
/assign @skitt

[2019-06-24 12:12] skitt commented on #1668
This needs to be re-tested, it might have been fixed in the meantime.

[2019-06-24 12:15] praveenkumar commented on #1584
We need to find out if this is case for other providers also.

[2019-06-24 12:15] zeenix commented on #1584
/assign

[2019-06-24 12:19] zeenix commented on #1282
@Jooho  Is this still reproducible?

[2019-06-24 12:20] zeenix commented on #1257
@bbalakriz is this still reproducible?

[2019-06-24 12:21] zeenix commented on #1239
@tombarron is this still reproducible?

[2019-06-24 12:22] zeenix commented on #1184
@AsherShoshan is this still reproducible?

[2019-06-24 12:23] zeenix commented on #1183
AFAIK, this has been resolved. Please re-open if not.

/close

[2019-06-24 12:23] #1183 closed

[2019-06-24 12:26] zeenix commented on #1104
Closing based on https://github.com/openshift/installer/issues/1104#issuecomment-456219950

/close

[2019-06-24 12:26] #1104 closed

[2019-06-24 12:26] praveenkumar commented on #1098
@cdrage Can you please try it again, this is already fixed.

[2019-06-24 12:27] praveenkumar commented on #1078
Already fixed.

[2019-06-24 12:27] #1078 closed

[2019-06-24 12:29] zeenix commented on #973
@thomasmckay Is this still an issue?

[2019-06-24 12:33] zeenix commented on #693
We should list the OSs that it's been tested on in the docs, yeah.

[2019-06-24 12:34] zeenix commented on #1282
/label kind/documentation

[2019-06-24 12:34] zeenix commented on #693
/label kind/documentation

[2019-06-24 12:55] cfergeau commented on #708
I'm fairly sure that when I tried the installer on RHEL8, tt0 was automatically part of the `libvirt` firewalld zone. What was missing was allowing libvirt TCP traffic between the 2 interfaces, which is now documented in https://github.com/openshift/installer/blob/master/docs/dev/libvirt/README.md
So hopefully this issue is no longer relevant.

[2019-06-24 13:15] AsherShoshan commented on #1184
No.

On Mon, Jun 24, 2019 at 3:23 PM Zeeshan Ali <notifications@github.com>
wrote:

[2019-06-24 13:28] staebler commented on #1884
Have you set a storage backend for the image registry? See https://access.redhat.com/documentation/en-us/openshift_container_platform/4.1/html/installing/installing-on-vsphere#installation-operators-config_installing-vsphere.

For the cluster operators that are not available, you can get the reason for the failure from the yaml for the operator. For example, `oc get co openshift-apiserver -oyaml`.

[2019-06-24 13:32] #1859 closed

[2019-06-24 13:57] zeenix commented on #693
/kind documentation

[2019-06-24 14:07] neuroserve commented on #1884
Havn't setup a storage backend because the cluster did not complete its setup, yet. Should I proceed anyway? Prerequisite seems to be a "provisioned persistent volume (PV) with ReadWriteMany access mode, such as NFS." How do I provision such a volume (and why do I have to do it when I gave the vsphere user the required rights beforehand)?

"Verify you do not have a registry pod:"
[code]
I already

[2019-06-24 14:17] zeenix commented on #687
@cgwalters given that we don't cache anymore (#1697), is this still relevant?

[2019-06-24 14:25] cgwalters commented on #687
Nope!
/close

[2019-06-24 14:25] #687 closed

[2019-06-24 14:29] staebler commented on #1884
You need to set the storage backend for the image registry in order for the installation to complete. The image-registry operator will not become available until the storage backend has been configured.

For the production use case, you need to provision your own storage because the vSphere cloud provider does not support ReadWriteMany access for its storage.

If this is for non-production purpose

[2019-06-24 14:34] staebler commented on #1884
For the errors in the other operators, do you have a wildcard DNS entry for the Ingress router pods? This is by default a `*.apps` entry. See https://access.redhat.com/documentation/en-us/openshift_container_platform/4.1/html/installing/installing-on-vsphere#installation-infrastructure-user-infra_installing-vsphere.

[2019-06-24 15:01] zeenix commented on #1716
/kind documentation

[2019-06-24 15:04] zeenix commented on #708
Right, so closing based on https://github.com/openshift/installer/issues/708#issuecomment-504997743

/close

[2019-06-24 15:04] #708 closed

[2019-06-24 15:06] zeenix commented on #1184
@AsherShoshan oh ok, thanks for the quick response.

/close

[2019-06-24 15:06] #1184 closed

[2019-06-24 22:34] DanyC97 opened #1899 "kubelet service not started on scaleup node boot"
# Version

[code]
RHCOS

[code]

# Platform (aws|libvirt|openstack):

vmware

# What happened?

Deployed an UPI VMware cluster and then started to add a new node. The VM booted, the igniton kicked in and lay down the RHCOS, including setting the static IP and the hostname however the node it never joined the K8s cluster, `oc get nodes` didn't show the new node

# What you expected to happen?

i ex

[2019-06-24 22:37] DanyC97 commented on #1899
/cc @cgwalters in case you have some thoughts from RHCOS/ MCO side.

[2019-06-24 23:44] abhinavdahiya commented on #1899
are you sure you approved the CSR for your machine https://docs.openshift.com/container-platform/4.1/installing/installing_vsphere/installing-vsphere.html#installation-approve-csrs_installing-vsphere

[2019-06-24 23:47] abhinavdahiya commented on #1899
what do you mean by rebooted between ignition apply steps.. ignition doesn't require reboot.

[2019-06-25 06:10] neuroserve commented on #1884
I have NFS available in that environment (I guess, there's a NetApp somewhere). How/Where would I configure the mountpoint for that nfs volume?

[2019-06-25 06:19] neuroserve commented on #1884
Ah - https://cormachogan.com/2019/06/20/kubernetes-storage-on-vsphere-101-readwritemany-nfs/

[2019-06-25 07:02] neuroserve commented on #1884
Regarding the DNS wildcard record: yes - exists and resolves to a vip that balances on the worker nodes.

[2019-06-25 08:31] liqlin2015 opened #1900 "Customize installation to have a cluster with minimum components"
# Version

[code]

# Platform (aws|libvirt|openstack): aws

# What happened?

I want to customize openshift installation to only have a cluster with minimum components. For example, disable monitoring, service-broker, router, imagestream, etc in the default installation.

# What you expected to happen?

See above.

[2019-06-25 13:45] staebler commented on #1884
OK. From the co list, it looks like the ingress operator is having problems. What is the output of `oc get co ingress -oyaml`?

[2019-06-25 13:53] neuroserve commented on #1884
[code]

[2019-06-25 14:04] abhinavdahiya commented on #1900
The installer doesn't pick what's installed, the release image drives that decision. You could create your own release image... But that's not going to be OpenShift anymore.

All these components make up OpenShift and there are no plans to support non-OpenShift installations

/close

[2019-06-25 14:04] #1900 closed

[2019-06-25 14:42] Sofia-Gonzalez-Unlam opened #1902 "RedHat 7 - OpenShift 4: Help with "hack/build.sh""
Please, your help to solve this issue.
When following this step of the repository:

"Clone this repository to src/github.com/openshift/installer in your GOPATH. Then build the openshift-install binary with: hack/build.sh "

This output appears by console:

[code]

Thank you very much for your contributions.
Regards.

[2019-06-25 14:47] staebler commented on #1902
You should run `./hack/build.sh` from `/root/src/github.com/openshift/installer` instead of running `./build.sh` from `/root/src/github.com/openshift/installer/hack`

[2019-06-25 15:47] Sofia-Gonzalez-Unlam commented on #1902
Unfortunately, the problem persists.
After running the command ./hack/build.sh  from  /root/src/github.com/openshift/installer ; the following output is displayed:

[root@sa1master_openshift installer]# ./hack/build.sh
+ minimum_go_version=1.10
++ go version
++ cut -d ' ' -f 3
+ current_go_version=go1.12.6
++ version 1.12.6
++ IFS=.
++ printf '%03d%03d%03d\n' 1 12 6
++ unset IFS
++ version 1.10
++

[2019-06-25 16:15] staebler commented on #1884
What about `oc get nodes`?

[2019-06-25 16:25] staebler commented on #1902
Is ${GOPATH} set to `/root/src/github.com/openshift/installer`?
It should be set to `/root/src`.

[2019-06-25 18:00] Sofia-Gonzalez-Unlam commented on #1902
Perfect! Now, its works correctly.
Thank you very much indeed.

[2019-06-25 18:00] #1902 closed

[2019-06-25 19:20] tmjd commented on #1816
As a follow up. I've tried out the image quay.io/openshift/origin-kube-proxy:4.1 after seeing https://github.com/openshift/origin/pull/22155 and https://github.com/openshift/release/pull/3711.

The comment https://github.com/openshift/origin/pull/22155#issuecomment-476749320 suggests that it is for Calico but I wanted to report that it does not work for an install with 4.1.2.

The logs from this v

[2019-06-25 19:40] DanyC97 commented on #1899
@abhinavdahiya thank you for taking the time to respond, much appreciated !

i never needed to approve any CSR, what i saw on previous deployments (for control and compute nodes) was that the CSRs were auto approved.

I'm not sure if there are two paths (_if there are please help me understand how it works_) here in v4 w.r.t approving the CSRs however all i can say is that looking in the cluster i

[2019-06-25 20:13] DanyC97 commented on #1899
please see the [dani-k8s-node-2_journalctl.log](https://github.com/openshift/installer/files/3327106/dani-k8s-node-2_journalctl.log) attached. I've added some bookmarks `### dani ###` so you can see why i assumed the above sequence triggered the reboot.

[2019-06-26 05:47] neuroserve commented on #1884
[code]

[2019-06-26 08:58] eyenx opened #1906 "QUESTION: Installing cluster withouth <clustername> prefix directly on basedomain"
# Version

[code]

# Platform (aws|libvirt|openstack):

AWS

# DNS Question

By default the cluster gets set up on AWS with the following DNS structure:

[code]
As we use separate basedomains for our environments (exampledev.com / example.com) we would rather want to create the cluster without an additional clustername, meaning we want to achieve this DNS structure:
[code]
So we get our console to

[2019-06-26 11:12] squeed commented on #1816
Yup, there was a bug in the dockerfile that snuck in. We need https://github.com/openshift/origin/pull/23235 to merge.

[2019-06-26 11:51] mjudeikis opened #1907 "[RFE]Custom Asset injection pattern"
Problem:
We are trying to consume installer as a package and inject custom assets into the cluster to avoid configuration on day 2. This way installer result would be full cluster with all the components in it. This would be used for ARO and OSD. In the current state of the installer this not possible due to how asset dependencies list is being curated into `ignition` config.

We are working towar

[2019-06-26 13:06] rob-baron opened #1908 "in build.sh, the directory check is not quite working"
Attempt 1:

    $ ./hack/build.sh
    + minimum_go_version=1.10
    ++ go version
    ++ cut -d ' ' -f 3
    + current_go_version=go1.11.2
    ++ version 1.11.2
    ++ IFS=.
    ++ printf '%03d%03d%03d\n' 1 11 2
    ++ unset IFS
    ++ version 1.10
    ++ IFS=.
    ++ printf '%03d%03d%03d\n' 1 10
    ++ unset IFS
    + '[' 001011002 -lt 001010000 ']'
    + LAUNCH_PATH='/Users/Rob 1/Programming/go/

[2019-06-26 13:11] staebler commented on #1884
Do you have worker VMs that are not getting added as nodes? Or do you not have any worker VMs? A handful of operators will not function without worker nodes.

[2019-06-26 13:16] staebler commented on #1884
Also, it looks like your machines do not have hostnames that are resolvable by the other machines. It looks like the hostnames are using the default `localhost.localdomain`.

https://docs.openshift.com/container-platform/4.1/installing/installing_vsphere/installing-vsphere.html#installation-network-user-infra_installing-vsphere

[2019-06-26 13:21] neuroserve commented on #1884
I have worker nodes and they get a kubelet being deployed on them.

[2019-06-26 13:24] neuroserve commented on #1884
We have changed that now. Is there a recommendation for the names? Does it have to be a fqdn or is "worker1" sufficient?

[2019-06-26 13:28] staebler commented on #1884
You can use any name you like, so long as the other machines can resolve the name to an IP address. The node name has a limit of 64 characters. If your fqdn fits within that limit, then you can use that. If you use a shortname, then you can configure your machines to have a DNS search domain for your domain.

[2019-06-26 13:53] neuroserve commented on #1884
That was a big part of the problem.
[code]

[2019-06-26 13:55] neuroserve commented on #1884
authentication gives this error now:
[code]

[2019-06-26 13:56] neuroserve commented on #1884
console this:
[code]

[2019-06-26 13:57] neuroserve commented on #1884
and obviously:
[code]

[2019-06-26 14:32] zeenix commented on #1893
/priority critical-urgent

[2019-06-26 14:34] staebler commented on #1884
The kube-apiserver operator is still progressing. Things may settle down some after that completes is progression. If that operaror does not progress fully, please add the yaml for that operator.

[2019-06-26 14:46] sacharya commented on #1908
I am getting the same error too:

`$ echo $GOPATH
/home/sa/gowork
$ pwd
/home/sa/gowork/src/github.com/openshift/installer
$ ./hack/build.sh
+ minimum_go_version=1.10
++ go version
++ cut -d ' ' -f 3
+ current_go_version=go1.11.5
++ version 1.11.5
++ IFS=.
++ printf '%03d%03d%03d\n' 1 11 5
++ unset IFS
++ version 1.10
++ IFS=.
++ printf '%03d%03d%03d\n' 1 10
++ unset IFS
+ '[' 001011005 -lt 001010

[2019-06-26 15:44] abhinavdahiya commented on #1906
There's no plan to support empty cluster name.

Base domain is a DNS Zone  that needs to be authoritative on th domain.. and it doesn't make sense to ask users to create new DNS Zone for each cluster.

The current setup is more approachable.

/close

[2019-06-26 15:44] #1906 closed

[2019-06-26 15:48] zeenix commented on #1741
@skitt Did you get to test this?

/priority backlog

[2019-06-26 15:55] zeenix commented on #1716
@brainfunked Thanks for reporting. I feel that this is a bunch of unrelated issues and hence it'd be nice to put them in separate issues. Could you kindly do that? Also, PRs addressing these issues would be awesome.

/priority awaiting-more-evidence

[2019-06-26 15:56] skitt commented on #1741
No, I’ll add it to my queue for next week!

[2019-06-26 15:56] zeenix commented on #1668
@skitt did you manage to test?

[2019-06-26 15:57] zeenix commented on #1668
/priority awaiting-more-evidence

[2019-06-26 19:47] tux1980 opened #1909 "libvirt: DEBUG Still waiting for the Kubernetes API...."
# Version
openshift-install unreleased-master-1194-g2241d21bc6509e6372c28ba29495f024001124cf-dirty
built from commit 2241d21bc6509e6372c28ba29495f024001124cf
release image registry.svc.ci.openshift.org/origin/release:v4.1

# Platform:
RHEL 7.6 with libvirt 5.0 / QEMU 2.12 / Go Verson 1.12 / dep version 0.5.3

# What happened?
After executing ./openshift-install --log-level=debug create cluster any

[2019-06-26 21:00] DanyC97 commented on #1899
@abhinavdahiya any thoughts? or maybe @staebler might be able to chime in?
any addition info please let me know, i'm keeping the lab env up in case more info is needed, hopefully will help you out

[2019-06-26 23:35] ams0 commented on #1817
Sorry to bother, but I still have the same error. The Prometheus operator is simply not there:
[code]

Can you point me to the code that install the operator?

[2019-06-26 23:46] ams0 commented on #1884
I seem to have a similar issue in Azure #1817 . Simply, the Prometheus operator is not installing the CRDs (servicemonitors.monitoring.coreos.com):

[code]

Can you point me to the place in the code where this gets executed?

[2019-06-27 00:21] jichenjc commented on #1908
+1, I suffered this as well~

[2019-06-27 01:49] jichenjc commented on #1908
/assign

[2019-06-27 07:29] neuroserve commented on #1884
Everything (except console and authentication are AVAILABLE now:
[code]

[2019-06-27 10:54] zeenix commented on #1668
I just reproduced this successfully with latest git master:

[code]

[2019-06-27 10:55] zeenix commented on #1668
/priority backlog

[2019-06-27 11:34] zeenix commented on #1584
/priority awaiting-more-evidence

[2019-06-27 11:35] zeenix commented on #1584
/priority backlog

[2019-06-27 11:35] zeenix commented on #1584
/remove-priority awaiting-more-evidence

[2019-06-27 11:36] zeenix commented on #1457
/priority backlog

[2019-06-27 11:41] zeenix commented on #1428
/priority critical-urgent

[2019-06-27 11:50] mjudeikis opened #1914 "[RFE] Flat vendor directory"
When revendoring `installer` project we are running into the issue with a double vendor directory for `terraform` and main project dependencies.

`https://github.com/openshift/installer/tree/master/pkg/terraform/exec/vendor`
`https://github.com/openshift/installer/tree/master/vendor`

When vendoring in `installer` its gets either truncated or squashed by `dep`.

It would be good somehow align `ven

[2019-06-27 12:28] neuroserve commented on #1884
OK - console problem was a loadbalancer configuration issue - current status:
[code]

[2019-06-27 12:31] neuroserve commented on #1884
That fixed authentication as well:
[code]

Thank you for your relentless support :-)

[2019-06-27 14:30] staebler commented on #1884
Whew! I'm glad that it all worked out for you in the end. Sorry that it wasn't a smoother journey. I will take some of the pitfalls that you ran into as a cause for improving areas of the docs.

[2019-06-27 15:50] markmc opened #1915 "aws: A record leaked"
# Version

4.1.0-0.nightly-2019-06-20-015058

[code]

# Platform:

aws

# What happened?

Installed the above version, upgraded the cluster to a later version AFAIR, then cleaned it up a couple of days later with `destroy cluster`. Then attempted to create another cluster and got:

[code]

Looking back at the log for that first cluster, there's no sign of the route53 resources getting cleaned up:

[2019-06-27 19:48] jmutai opened #1916 "platform.openstack.region: Internal error: could not retrieve valid regions"
# Version

[code]

# Platform:

openstack

# What happened?

When I run:

[code]
I get the error:

[code]

I have the following inside `installer/install-config.yaml`

[code]

My clouds.yml file looks like below - Downloaded from Openstack

[code]

# What you expected to happen?

The cluster should be created.

# How to reproduce it (as minimally and precisely as possible)?

- Download clouds.yaml

[2019-06-27 20:14] abhinavdahiya commented on #1915
The devcluster account has a pruner that deleted the private zone but keeps the public records hanging around. without the private zone, the installer cannot safely delete the public records. only one person should be doing the pruning, if somebody else pruned incorrectly, the installer cannot do the job correctly.

There are no plans to accommodate for faulty pruners...

/close

[2019-06-27 20:14] #1915 closed

[2019-06-27 20:25] cgwalters commented on #1915
When I was in this situation what I did was to log into the AWS console, use the route53 GUI to search for the domain and delete it there.

[2019-06-27 20:30] markmc commented on #1915
My bad, it seems. I was aware of the faulty pruner issue, but I thought this cluster hadn't been pruned ... but looking at the logs, looks like I was wrong about that. Thanks.

[2019-06-27 21:58] DanyC97 commented on #1899
@cgwalters @abhinavdahiya can anyone of you please help understand the design/ behavior of

* CSR auto approving ? is there a bug in the docs? if not then please teach me how to fish - aka understand what the design was:
  * have manual CSR approved after kubelet started
  * have auto CSR approved
*the `kubelet service` not started on worker nodes

[2019-06-27 22:33] rphillips commented on #1899
@DanyC97 the controller-manager within the openshift-controller-manager namespaces actually does the issuing of the certificate. The logs there might help.

[2019-06-27 22:33] staebler commented on #1899
@DanyC97 The cluster-machine-approver will only approve machines that are added via a `machine` resource. The vSphere platform does not use `machine` resources yet. So, as a user, you must manually approve CSR requests for new nodes. As a convenience, the bootstrap machine will auto-approve CSRs requests for nodes while it is running. However, that should not be relied upon.

[2019-06-28 06:58] DanyC97 commented on #1884
thanks for the info !! this type of info i'd expect to be in the docs as i bet folks will enable it and then .. surprise surprise.

[2019-06-28 07:14] DanyC97 commented on #1899
oh so there are 2 paths, many many thanks for sharing this info @staebler !

right, so i'll try a test of switching off the bootstrap and see if the CSRs requests are left in pending state, that should confirm.

[2019-06-28 07:20] DanyC97 commented on #1899
i'll check @rphillips , thanks for the info!
i'll be curious to understand the whole flow as things don't add up (yet) in my head:

* if _vSphere platform does not use machine resources yet_ then no _cluster-machine-approver_ - OK
* if no _cluster-machine-approver_ then let's say we fallback to bootstrap node - TBC
* so then where _controller-manager within the openshift-controller-manager_ fits i

[2019-06-28 07:21] neuroserve commented on #1884
It's in the docs: https://docs.openshift.com/container-platform/4.1/storage/understanding-persistent-storage.html#pv-access-modes_understanding-persistent-storage

[2019-06-28 13:54] zeenix opened #1918 "Installer fails with bogus error about 'tt0' being already up"
# Version

[code]

# Platform:

libvirt

# What happened?

I try to create the cluster and it soon ends up with bogus error that tt0 is already up and in use, while it's not:

[code]

[2019-06-28 13:55] zeenix commented on #1918
/priority critical-urgent
/assign

[2019-06-28 13:58] jichenjc commented on #1916
even if the yaml file from openstack, is the yaml file ok to interact with openstack ?
and maybe check what happened inside openstack as well?

[2019-06-28 14:01] jichenjc opened #1919 "[openstack ]failed to execute destroy command"
# Version

[code]

# Platform:

openstack

# What happened?

master code (06474dd31b58a4e4299473d41a4ab85cd488ebfc) has following error
[code]

checkout to `git checkout 619b5e4f4913b0ee5ba0876c4cf2e97143c1b7a9`
recompile this error will go way

only following between master and the checkout code, so suspect something there....
[code]
Enter text here.
See [the troubleshooting documentation](https:

[2019-06-28 14:25] zeenix commented on #1357
Closing based on https://github.com/openshift/installer/issues/1357#issuecomment-471914565

/close

[2019-06-28 14:25] #1357 closed

[2019-06-28 14:43] zeenix commented on #1282
@Jooho if it's still reproducible, please reopen.

/close

[2019-06-28 14:43] #1282 closed

[2019-06-28 14:44] zeenix commented on #1257
@bbalakriz if this is still reproducible, please reopen.

/close

[2019-06-28 14:44] #1257 closed

[2019-06-28 14:45] zeenix commented on #1239
@tombarron if this is still reproducible, please reopen.

/close

[2019-06-28 14:45] #1239 closed

[2019-06-28 15:03] jmutai commented on #1916
The yaml file is working fine. I think the issue is on validation.

Again I can't boot from rhcos image imported to glance, it says no bootable device, is this the expected behaviour?

[2019-06-28 15:15] zeenix commented on #1098
I'm sure I've done this many times just in the recent times and destruction works just fine. But please do re-open if it doesn't work for you still.

/close

[2019-06-28 15:15] #1098 closed

[2019-06-28 15:19] zeenix commented on #1097
@cdcabrera Since almost all Openshift devs use Fedora/RHEL/centOS, I think this will need a contribution from a Debian user, like yourself. I'm closing this for now but if you could contribute the Debian instruction, that would be great and please re-open the issue then. Thanks.

/close

[2019-06-28 15:19] #1097 closed

[2019-06-28 15:19] zeenix commented on #1007
/priority important-longterm

[2019-06-28 15:22] zeenix commented on #1007
@cfergeau You said you had a WIP patch to fix this on libvirt level. Do you think you'd be able to get that in, in the near future?

/assign @cfergeau

[2019-06-28 15:23] zeenix commented on #973
Assuming not reproducible anymore. @thomasmckay please reopen if that's not the case. Thanks.

/close

[2019-06-28 15:23] #973 closed

[2019-06-28 15:30] zeenix commented on #838
/priority awaiting-more-evidence

[2019-06-28 15:32] zeenix commented on #838
@dustymabe Do you intend to work/experiment on this? I think this will need contribution(s) from folks who need this use case.

[2019-06-28 15:34] zeenix commented on #693
/priority backlog

[2019-06-28 15:35] zeenix commented on #367
/priority backlog

[2019-06-28 15:35] zeenix commented on #367
/assign

[2019-06-28 15:35] zeenix commented on #693
/assign

[2019-06-28 15:40] zeenix commented on #1909
Just to clarify: what does "it stops" mean here. The installer gives up on the cluster creation you mean?

Did you follow the steps and troubleshooting instructions [here](https://github.com/openshift/installer/blob/master/docs/dev/libvirt/README.md)?

/priority important-soon

[2019-06-28 15:54] dustymabe commented on #838
I'm out for some time. If this ticket needs to be closed that's OK

[2019-06-28 16:09] zeenix commented on #1893
/assign

[2019-06-28 16:22] zeenix commented on #838
@dustymabe that's OK. I assigned the lower-priority label so no need to close it since it's possible we want to support this at some point.

[2019-06-28 19:39] tux1980 commented on #1909
Hi, yes, this is exact the document I've been working with - and I followed its instruction really step by stepp. It still throws out the error during the deployment.... I can ping both IP's from my libvirt host (master & bootstrap node).  But when I tried out "curl -vv 192.168.126.10:6443" it is been routed correctly but says constantly "Connection" refused...

Hmmm.... Attached, maybe you could

[2019-06-29 08:47] DanyC97 commented on #1899
sadly @rphillips the only output i see in the pods running in `openshift-controller-manager ` ns is

[code]

so not much related to CSRs

[2019-06-30 12:33] jichenjc opened #1921 "[openstack] 2+ images named 'rhcos' no error reported"
# Version

[code]
[root@jichen-openstack-1 installer]# bin/openshift-install version
bin/openshift-install unreleased-master-1200-gf4ddfdf9d9b8ae7c99298bcbfa49ba3e3ad317e1-dirty
built from commit f4ddfdf9d9b8ae7c99298bcbfa49ba3e3ad317e1
release image registry.svc.ci.openshift.org/origin/release:4.2

# Platform:

openstack
# What happened?
have following images to do test (2 rhcos) but no error rep

[2019-06-30 12:34] jichenjc commented on #1921
/assign

[2019-06-30 12:40] jichenjc opened #1922 "[openstack] support boot from volume"
# Version

[code]
[root@jichen-openstack-1 installer]# bin/openshift-install version
bin/openshift-install unreleased-master-1200-gf4ddfdf9d9b8ae7c99298bcbfa49ba3e3ad317e1-dirty
built from commit f4ddfdf9d9b8ae7c99298bcbfa49ba3e3ad317e1
release image registry.svc.ci.openshift.org/origin/release:4.2

# Platform:

openstack

# What happened?

see following code at
https://github.com/openshift/instal

[2019-07-01 00:10] jichenjc opened #1924 "[openstack][question] where to find latest coreos image"
# Version

[code]

# Platform:

# What happened?

This actually comes from Josphat Mutai but we seems suffered similar issue,
[code]

Enter text here.
See [the troubleshooting documentation](https://github.com/openshift/installer/blob/master/docs/user/troubleshooting.md) for ideas about what information to collect.
For example, if the installer [fails to create resources](https://github.com/opensh

[2019-07-01 00:12] jichenjc commented on #1924
from our test , seems running this on baremetal hardware is fine while on virtual server (which becomes 2nd level nested virtualization) seems has problem, can someone help to confirm?

[2019-07-01 06:12] mandre commented on #1919
/label platform/openstack

[2019-07-01 06:13] mandre commented on #1921
/label platform/openstack

[2019-07-01 06:19] mandre commented on #1921
Apparently glance is perfectly fine with allowing two images with the same name, it will use the id to differentiate them. Now should we really fail the install if there are two images named `rhcos` in glance? I'm not sure about this as it would fail in perfectly valid environments. We could perhaps print a warning?

[2019-07-01 06:19] mandre commented on #1922
/label platform/openstack

[2019-07-01 06:21] mandre commented on #1924
/label platform/openstack

[2019-07-01 06:37] mandre commented on #1924
Could you give it a try with https://raw.githubusercontent.com/shiftstack-dev-tools/shiftstack-ci/master/refresh_rhcos.sh ? This will pull the latest image as defined in https://github.com/openshift/installer/blob/master/data/data/rhcos.json

[2019-07-01 06:41] mandre commented on #1916
Can you confirm that you're able to get the region with `openstack region list` using the given clouds.yaml?

[2019-07-01 06:54] jichenjc commented on #1921
I don't know which is good, I would think we need ask which id to use if more rhcos exist and ask user to select a preferred one...

[2019-07-01 07:14] mandre commented on #1916
Sorry, I didn't refresh the page before posting and didn't see the new comments. The validation is happening in https://github.com/openshift/installer/blob/8daaee2/pkg/types/openstack/validation/realvalidvaluesfetcher.go#L35-L62. I do not see anything obviously wrong there. It would be helpful if you try to print the error returned by GetRegionNames() at https://github.com/openshift/installer/blob

[2019-07-01 07:26] mandre commented on #1921
Yeah I suppose it's possible to ask in the installer wizard for which image ID to use in case there are several images with the `rhcos` name.

[2019-07-01 09:25] zeenix commented on #1918
Seems there was an inactive net using `tt0`:

[code]

[2019-07-01 09:25] #1918 closed

[2019-07-01 11:31] skitt commented on #1668
I can reproduce this too.

[2019-07-01 11:32] #1919 closed

[2019-07-01 12:52] DanyC97 commented on #1899
@staebler you were spot on Sir !

i've turned off bootstrap node and it behaves as per the docs

[code]
which imo this is a docs bug.
And for folks who need to know if bootstrap node did approve anything `journalctl |grep  approve-csr |grep -v "No resources found"` will do the job

[2019-07-01 12:53] DanyC97 commented on #1899
@abhinavdahiya if you can point me in the right direction, i'd be happy to keep digging.

[2019-07-01 13:14] staebler commented on #1899
@DanyC97 Can you be more specific about how you feel that the docs are deficient?

The following is an excerpt from the docs. It implies to me that the CSRs may be approved automatically or may need to be approved manually. It is the responsibility of the user to verify that the CSRs are approved--whether automatically or manually.

[2019-07-01 13:59] zeenix commented on #1909
@tux1980 Thanks for the info and logs. This is strange. A bunch of these messages are normal:

[code]

but eventually API server is up and Cluster creation progresses forwards. Maybe for some reason it takes longer than usual for you. Can you check if waiting longer helps? `openshift-install wait-for install-complete`?

[2019-07-01 14:44] DanyC97 commented on #1899
sure, sorry i wasn't clear enough.

Indeed you are, the text implies that however _You must confirm that these CSRs are approved_ -> if you trying to double check if they were approved, you won't be able to do so w/o a bit more info becasue:

* `oc get csr` => will show no output, they've been already dealt by bootstrap node
*  checking the journald on bootstrap node -> if you have the knowledge t

[2019-07-01 16:25] tux1980 commented on #1909
I did it as you said - unfortunately it didn't succeed. After 30 Minutes the deployment had been failed with the following "last lines" in the log...

Furthermore, I can't retrieve the logs (ssh -A .... or with scp) because even though I know the user is apparently "core" on the bootstrape node, I do not know the SSH password.
-------------------------

LOG Excerpt:
time="2019-07-01T17:02:08+02:00

[2019-07-01 16:55] tux1980 commented on #1909
@zeenix Now I was able to login into the bootstrap node. With journalctl I investigated the bootkube.service. It is always the same error message:

Jul 01 16:53:37 okd-gt8xd-bootstrap bootkube.sh[28408]: unable to pull registry.svc.ci.openshift.org/origin/4.1-2019-05-13-204940@sha256:2052e13f8a6e1ce52f9f719b05e0cf4f694079295bd0e6e4aa95c37eab4c0192: unable to pull image: Error determining manifest

[2019-07-01 17:00] zeenix commented on #1893
Some hopefully helpful log:

[code]

[2019-07-01 18:10] tux1980 commented on #1909
Hi, it is solved.... I switched the installer version against the actual "standard" version.
release image registry.svc.ci.openshift.org/origin/release:4.2

Now the API service is running just fine.
Jul 01 17:16:29 okd-dz7vc-bootstrap bootkube.sh[1361]: bootkube.service complete

Thanks!

[2019-07-01 18:10] #1909 closed

[2019-07-01 18:18] tux1980 opened #1928 "Libvirt install: failed to initialize the cluster: Multiple errors...."
# Version
./openshift-install unreleased-master-1207-g45f81e1d950cbc80e46e0b230e11b0032de8c868
built from commit 45f81e1d950cbc80e46e0b230e11b0032de8c868
release image registry.svc.ci.openshift.org/origin/release:4.2
[root@ovirt bin]# release image registry.svc.ci.openshift.org/origin/release:4.2

# Platform:
RHEL 7.6 with libvirt 5.0.0

# What happened?
After setting up the Kube API service succe

[2019-07-01 18:53] abhinavdahiya commented on #1928
/assign @zeenix

[2019-07-01 18:55] abhinavdahiya commented on #1924
The location to get openstack bootimages must be https://mirror.openshift.com/pub/openshift-v4/dependencies/rhcos/4.1/latest/

[2019-07-01 19:25] jmutai commented on #1924
There is no OpenStack template in the link. These are files for installing on Bare metal and vsphere.

[2019-07-01 19:27] jmutai commented on #1916
Thanks for the response.

Btw are you using OpenStack in your test environment?

On Mon, Jul 1, 2019 at 10:14 AM Martin André <notifications@github.com>
wrote:

[2019-07-01 20:42] cgwalters commented on #1899
Ignition should have enabled `kubelet.service`, it's part of the Ignition generated by the MCO.

[2019-07-01 20:48] DanyC97 commented on #1899
right after keep spinning new nodes, i found out that the dependent service

[code]

hasn't started ...hmmm

[code]

[2019-07-01 21:20] jmutai commented on #1924
Let me try this.

[2019-07-01 21:29] cgwalters commented on #1924
See also https://github.com/openshift/installer/issues/1399

[2019-07-01 23:54] jichenjc commented on #1924
@cgwalters @mandre thanks for the info, I confirmed I tried the link provided by @mandre ,exactly same way

however, the question becomes whether the image allow nested virtualization work
as my colleagues use baremetal to do test everything is fine but I am using 2nd level (the bootstrap,master,api servers are hosted on a VM by another openstack), this will fail,

only want to confirm this so tha

[2019-07-02 00:36] rgov commented on #1908
I cloned the repository to `$HOME/go/github.com/openshift/installer/` (where `go env GOPATH` is `$HOME/go`) and still get this error message. What exactly does it want?

In my opinion, a pull request related to this (such as #1911) also needs to update the README to clarify what the user is expected to do.

[2019-07-02 00:52] jichenjc commented on #1908
I didn't get this message if the repo is `$HOME/go/src/github.com/openshift/installer/`

it's because go library check so if you don't put code in this exact folder later on compile will complain
IMO it's just the error message is that clear.. and put into README is overkill .. since this is go standard for code repo?

[2019-07-02 02:25] rgov commented on #1908
Right, that is the correct directory, with `src/`... your pull request does not include that. (The output of `go env GOPATH` on my machine does not include `src/`.)

There is already [this README](https://github.com/openshift/installer/blob/master/docs/dev/libvirt/README.md) which explicitly tells you to clone the repo and run the `build.sh` script. These instructions are linked from elsewhere. A

[2019-07-02 06:09] mkumatag opened #1931 "Libvirt provider: failed to build"
# Version

latest master branch

# Platform:

# What happened?

While building the code with following build command, failed to build the binary:

[code]

error1:
[code]

error2:
[code]
# What you expected to happen?

Build should work properly and generate installer binary

# How to reproduce it (as minimally and precisely as possible)?

[code]

# Anything else we need to know?

I see it as a reg

[2019-07-02 10:51] zeenix commented on #1893
After a bit more testing, I believe the:

[code]

error goes away after a while (I guess when the API server is finally up) but then we've another issue:

[code]
So I think the main issue we're facing here is the API server taking way too long on the nested virt environment to come up. The check for csr creation time [was added in mid-May](https://github.com/openshift/cluster-machine-approver/pull

[2019-07-02 12:01] zeenix commented on #1931
/label platform/libvirt

[2019-07-02 12:04] zeenix commented on #1928
I think this is likely a duplicate of https://github.com/openshift/installer/issues/1893.

@tux1980 Could you please see if you get the same as [here](https://github.com/openshift/installer/issues/1893#issuecomment-507624145). You can find the exact pod name with `oc get pods -A|grep approver`.

[2019-07-02 12:04] zeenix commented on #1928
/label platform/libvirt

[2019-07-02 12:07] zeenix commented on #1909
@tux1980 You mean you were using a custom image? That'd have been a useful piece of info. :)

[2019-07-02 12:08] zeenix commented on #1909
@tux1980 I see that you did mention which image you're using but it wasn't clear to me that it's a custom image you explicitly tell installer to use.

[2019-07-02 12:43] DanyC97 commented on #1899
and the dependencies for `rpc-statd` is

[code]
where `rpcbind.service` is not running

[2019-07-02 14:10] tux1980 commented on #1928
Whatever I do with libvert5 / QEMU 2.12 / /RHEL7.6, i didn't succeed, whatever I do, on a certain point I run into some errors with the Installer. It is a bit exhausting... Is there any recommended Platform with libvirt that is thoroughly tested for DEMO environment with OCP 4.1? Fedora / CentOS / RHEL8?

[2019-07-02 14:21] zeenix commented on #1928
Not on the master, you `oc` from outside with `KUBECONFIG` defined: `KUBECONFIG=YOUR_CLUSTER_DIR/auth/kubeconfig oc get pods -A | grep approver`

[2019-07-02 14:34] tux1980 commented on #1928
Ok. When I execute the command from the outside world I get the following result:
root@ovirt auth]# KUBECONFIG=kubeconfig oc get pods -A | grep approver

openshift-cluster-machine-approver                      machine-approver-8dffd968f-2cvrf                                  1/1     Running     0          21h

[2019-07-02 14:41] zeenix commented on #1928
@tux1980 Thanks. Is this after the error/timeout? If not, please wait for that first and see if the logs you see there have the [same error as we see on our nested virt machine](https://github.com/openshift/installer/issues/1893#issuecomment-507624145).

[2019-07-02 14:44] fgiloux commented on #1668
I had the same issue. Due to my bad internet connection I had to download the qcow2 image before the installation and use OPENSHIFT_INSTALL_OS_IMAGE_OVERRIDE to get the cluster up and running.

[2019-07-02 14:55] zeenix commented on #1893
With iptables flushed, now the Installer still fails (it didn't when started debugging this last week) and the issue is:

[code]

So most likely now we've two issue. I'll test again with full (default) firewall rules and see if we still get this error or not, to be sure.

[2019-07-02 15:45] sferich888 commented on #1349
yes, but there are more errors and you have to dig into where those come from to see what install permission issue your hitting: https://github.com/openshift/cloud-credential-operator/blob/master/pkg/aws/utils.go#L114-L135 has the code for some of these checks.

[2019-07-02 21:30] #1931 closed

[2019-07-03 01:14] mkumatag commented on #1928
Even I have seen this error with `fedora` OS, will update with more detail with my findings.

[2019-07-03 10:49] zeenix commented on #1928
Yeah same here but it was fixed recently. It still occurs on nested virt setup though, which is tracked in #1893.

[2019-07-03 10:50] zeenix commented on #1893
with the default iptables rules, it's exactly the same:

[code]

so maybe the actual issue we faced last week is somehow gone and now we've this issue? I say that cause last week flushing iptables allowed a successful cluster creation.

[2019-07-03 13:06] cgwalters commented on #1893
Maybe related to https://bugzilla.redhat.com/show_bug.cgi?id=1723955

[2019-07-03 13:09] zeenix commented on #1893
@cgwalters yeah, seems like the same issue to me. No upstream issue for this?

[2019-07-03 13:15] mkumatag commented on #1928
I'm not using nested virt btw, mine is just a kvm host running on Fedora 30

[2019-07-03 13:20] staebler commented on #1893
Is it taking more than 10 minutes between when the Machine resource is created and when the CSR is created? If so, then the auto-approver will reject the request, and the user is required to manually approve the CSR.

[2019-07-03 18:45] zeenix commented on #1928
That *is* nested virt. :) Unless you mean the (cluster) host is baremetal running F30?

[2019-07-04 03:27] mkumatag commented on #1928
that's right, I'm running `openshift-installer` on an F30 baremetal machine

[2019-07-04 04:25] mrniranjan commented on #1928
I am trying the installer on RHEL8 and could not get a successful installation . I see following errors:

[code]

The logs show the below:

[code]
I am running the installer on Bare metal System.

[2019-07-04 09:27] zeenix commented on #1928
@tux1980 @mkumatag @mrniranjan Thanks. Could you folks kindly let me know if you see the same symptoms as [here](https://github.com/openshift/installer/issues/1893#issuecomment-507624145)?

[2019-07-04 09:55] zeenix commented on #1928
Also, see if assigning appropriate resources help:

[code]

thanks.

[2019-07-04 11:42] mrniranjan commented on #1928
@zeenix i see this:
[code]
[code]
openshift-install.log:

[code]

[2019-07-04 13:12] zeenix commented on #1928
@mrniranjan Thanks. that's `oc get pods -A | grep approver`. No need to paste here if it's the same as I got in #1893, just say so here and I'll close this one then cause it's likely a duplicate of that.

[2019-07-04 14:02] neuroserve commented on #1884
I like to provide an nfs-share for the registry - but I have to use a second network interface for this. Will that work with the provided ignition file or do I have to modify it? If yes, would that be along the lines of https://coreos.com/os/docs/latest/network-config-with-networkd.html? Can this be used with RHCOS?

[2019-07-04 14:29] mrniranjan commented on #1928
@zeenix  when i type ```oc get pods -A  | grep approver``` it throws the help message of oc command. i am using below version
[code]

[2019-07-04 14:30] zeenix commented on #1928
@mrniranjan right, the '-A' shortcut was only recently added. Please use '--all-namespaces` instead.

[2019-07-04 15:02] fgiloux commented on #1428
I had the state that jsm84 described [in his comment](https://github.com/openshift/installer/issues/1428#issuecomment-481389185)
This was due to my worker node not joining the cluster. Looking at it the kubelet with the service account system:serviceaccount:openshift-machine-config-operator:node-bootstrapper was not allowed to query the API server.
I had plenty of CSRs pending. I approved them: fo

[2019-07-04 16:29] mrniranjan commented on #1928
@zeenix  i am pasting the output because i think this is different than the one mentioned in #1893

[code]

[code]

[2019-07-04 16:51] mrniranjan commented on #1928
with every run it seems to fail differently , the last run the installer went a lot ahead then the previous runs. I would like to know if this works properly at least for someone.

[2019-07-05 08:00] ams0 opened #1942 "[Azure] Worker nodes won't join the cluster"
# Version

[code]

# Platform:
Client: Mac OS X Catalina beta
Cloud: Azure (West Europe)

# What happened?

Workes nodes are created, I can SSH into them, kubelet is running, but they don't join the cluster. This obviously makes the whole provisioning fail (I thought it was a problem with a CRD until I look at the nodes.

# What you expected to happen?

Nodes are up and joined with the masters.

#

[2019-07-05 10:14] zeenix commented on #1928
@mrniranjan Thanks. Seems you're facing multiple different issues. If your CSRs are all in approved state and you don't see the warnings/errors in the description here, I'd say it's a different issue and you should file a different issue to track that. Having said that, what you saw last could likely be #1428 so do try `openshift-install wait-for install-complete` after Installer fails to see if i

[2019-07-05 10:14] #1928 closed

[2019-07-05 11:00] neuroserve opened #1943 "Adding network interface to node leads to "NotReady" - vsphere"
# Version

[code]

# Platform:
[code]

# What happened?
After setting up the cluster, I added another network interface to one of my worker nodes in order to satisfy "4.1.14.1.1. Configuring registry storage for VMware vSphere". The additional network interface would allow the node to access an NFS-share/volume on one of our NFS-servers.

The additional interface is initialized and gets an ip addr

[2019-07-05 11:01] neuroserve commented on #1884
I've transferred this to another issue (#1943). This issue can be closed

[2019-07-05 11:01] #1884 closed

[2019-07-05 11:16] brainfunked commented on #1716
Yes, will split the issues up and send PRs.

[2019-07-05 11:58] zeenix commented on #1716
@brainfunked Great!, thanks so much.

[2019-07-06 19:53] eperry commented on #1908
Yah I ran in to this too. Did not realize this is a GO Project and don't understand why the shell script just does not set the GOPATH to its own directory structure and build there.

[2019-07-08 10:02] AndyFol opened #1946 "Azure or AWS needs a way to avoid public IP exposure to the internet"
# Version

[code]

# Platform:

# What happened?

When building an IPI, we have a requirement to use access from a private entry point. This would be something like a transient gateway. However, IPI uses the creation of public IP addresses and Loadabalances and DNS that are assigned to them. The ask here is to have a private (non-publicly exposed) DNS zone or subdomain, that would be reachable wit

[2019-07-08 11:36] zeenix commented on #1893
I'm removing libvirt label since it doesn't seem to be specific to libvirt any more (https://github.com/openshift/installer/issues/1893#issuecomment-508084956).

/remove-label platform/libvirt

[2019-07-08 11:37] zeenix commented on #1893
/unassign @praveenkumar

[2019-07-08 15:21] DanyC97 commented on #1899
updating in case someone else bumps into this issue.

**A)** the _initial_ issue was around the fact that nodes we failing to join the cluster because the `kubelet.service`

After a lot of digging (few dead ends and lots of bunny hop) it turned out the problem was caused by my DNS setup, in particular my nodes fqdn was not withing the subdomain where the `api` and `api-int` were

  E.g

  _**NOK**

[2019-07-08 15:21] #1899 closed

[2019-07-08 15:23] DanyC97 commented on #1893
hi @staebler , curious - where in the code we have this cut off time of 10 min ?

[2019-07-08 15:30] DanyC97 commented on #1943
@neuroserve the right way to add a new interface is via NM and not networkd - in RHCOS/ FCOS NM is managing the network (yes i know the Ignition 2.2 spec doesn't mention it nor the v4 docs)

See an example [here](https://github.com/openshift/installer/blob/master/upi/vsphere/machine/ignition.tf#L28-L39)

[2019-07-08 16:03] cgwalters commented on #1899
Probably what we should have done is only have the bootstrap approve CSRs for *masters* only or so...that's all we actually need for installs, and having it do workers too adds confusion.

[2019-07-08 16:45] staebler commented on #1893
https://github.com/openshift/cluster-machine-approver/blob/da894d46de80bc1e1fff5256addfc744868f8df3/csr_check.go#L31

[2019-07-08 23:51] csrwng opened #1954 "[gcp] handle destroying additional artifacts"
With https://github.com/openshift/installer/pull/1950, we are introducing an uninstaller for GCP. This issue is to keep track of remaining items that need to be handled by the uninstaller:

* Disks created by the GCP CSI driver (ideally need a way to have them labeled)
* Internal/External Load Balancers in shared mode created by the Kube cloud controller.
  For these, we need to generate an 8-char

[2019-07-09 00:57] abhinavdahiya commented on #1942
Are the CSRs approved for the worker nodes.
[code]

If the CSRs are not approved please open an issue or BZ with https://github.com/openshift/cluster-machine-approver/issues

/close

[2019-07-09 00:57] #1942 closed

[2019-07-09 00:59] abhinavdahiya commented on #1943
day 2 configuration of the hosts is better placed in machine-config-operator github issues (https://github.com/openshift/machine-config-operator/issues) or Bugzilla for `Machine Config Operator` component

/close

[2019-07-09 00:59] #1943 closed

[2019-07-09 01:04] abhinavdahiya commented on #1954
Can you expand on what's shared and non-shared mode for k8s cloud-provide on GCP. Is this a service level feature, or a cluster level feature...

will the use of the configmap mentioned depend on if shared or non-shared feature is turn-on

on bootstrap host as we have no way to create objects after api is up but bootstrap-kube-controller-manger is running, will this create a race between the insta

[2019-07-09 10:10] DanyC97 commented on #1899
@cgwalters thinking loud i think is okay to have both use-cases, especially when you build a 100 nodes cluster, you don't need a human to accept the CSRs nor keep running/ watching using your favor tool/ script for pending CSRs.

A note in the docs imo will be exactly what folks need:

* if folks are willing to keep running a bootstrap node and do understand the security implication => they will g

[2019-07-09 11:22] staebler commented on #1899
I do not think that we want to advise leaving the bootstrap node running any longer than necessary.

[2019-07-09 13:03] tschwaller opened #1955 "OpenShift 4.1.4 installation on vSphere failed: certificate has expired"
# Version

[code]

# Platform:
vsphere

# What happened?

Two weeks ago I created an OpenShift 4.1 cluster and it worked fine. Today I recreated it again using the same environment and I run into a certificate issue.
[code]
Using the debug option I get

[code]

To be sure that I did not use an outdated version I reinstalled the latest RHCOS OVA template again and updated `openshift-install` to the

[2019-07-09 14:31] abhinavdahiya commented on #1955
If you don't reuse the install for for new cluster the installer will generate new assets for your new cluster.

[2019-07-09 18:53] csrwng commented on #1954
@abhinavdahiya added more information about shared mode above.

The configmap will help us identify resources created by the cloud controller regardless of shared/non-shared mode of the services.

I think it should be ok to update the configmap after the apiserver is up, as the GCE cloud controller continually watches for changes to it and updates its variables based on its value:
https://github.c

[2019-07-09 19:11] tschwaller commented on #1955
I got the issue with just the old config, but I deleted everything before that (even using a new git clone of the installer github repo) and recreated everything from scratch (ignition files, terraform apply, etc.). I do not understand where I got this cert with validity until June 28.  Is the installer using preinstalled certs somewhere (e.g. on the OVA) or what can I do do to avoid that. I do no

[2019-07-09 19:37] abhinavdahiya commented on #1954
I think I was not clear, the installer can only `CREATE` objects not `apply` objects to the cluster due to the limitation of the cluster-bootstrap, and hence the race of who creates the configmap first.

[2019-07-10 03:26] bjhuangr commented on #1854
@mandre guess DNS service will also moved to master nodes once API VM removed?

[2019-07-10 05:44] mandre commented on #1854
That's correct, we'll be running haproxy, keepalived and coredns as static pods on the master nodes.

[2019-07-10 10:03] bjhuangr opened #1962 "[openstack] image-registry panic: Swift authentication failed: Authorization Failed"
# Version

[code]

# Platform:

openstack

# What happened?
All cluster operators working, except image-registry:
oc get clusteroperators
NAME                                       VERSION                         AVAILABLE   PROGRESSING   DEGRADED   SINCE
authentication                             4.2.0-0.okd-2019-07-10-055119   True        False         False      161m
cloud-credential

[2019-07-10 15:07] ckyriakidou opened #1963 "[rfe] ignition config for .pem for a TrustedUserCAKeys configuration"
# Version

[code]

# Platform:

ALL

# What happened?

The current install config documentation talks about ssh key as a parameter to configure nodes with. This makes the ability to rotate and revoke keys cumbersome and a potential security risk.

# What you expected to happen?

However, it would be much more secure to be able to rotate keys and certificates for a cluster. This would be possible b

[2019-07-10 16:21] abhinavdahiya commented on #1963
1. ssh key is optional. only useful if you want to debug bootstrapping failures or control-plane down scenarios.
2. the ssh key can be revoked, updated from the cluster using machine-configuration https://github.com/openshift/machine-config-operator/blob/master/docs/Update-SSHKeys.md
3. You can use machine-configuration to created your own setup, and machine-config-operator will be the best place

[2019-07-10 16:21] #1963 closed

[2019-07-11 06:10] rbo commented on #1955
I ran into the same issue, some comments from my side:

1. Do not reuse old config dir's. I strongly recommand ```openshift-install create .. --dir=config/```, if you delete the cluster and want to reinstall, delete the config/ dir and run ```openshift-install create .. --dir=config/```. The background is the installer creates certificates they are only valid for round about 24 hours, at some poin

[2019-07-11 11:26] oswee opened #1973 "Failed to open "/home/user/libvirt/images/openshift-pnjsw-bootstrap.ing" Permission denied"
Leaving this issue just for record while trying to solve it. Will close it if will find it to be irrelevant there.
My intention is to try set up OpenShift 4 on my Fedora 30 Workstation (12 cores, 64 ram) to learn it. I want it to be fully functional and exposed to public network so i can learn CI/CD workflows.

Started by following [instructions from there](https://github.com/openshift/installer/b

[2019-07-11 11:53] oswee commented on #1973
Installation ended with error:
[code]
2 libvirt domains created and running
- openshift-pnjsw-bootstrap
- openshift-pnjsw-master-0

Looking now how to clean up system and start from scratch.

[2019-07-11 13:55] oswee opened #1974 "What ports should be forwarded in router?"
Can't find a list of required ports to open/forward in my physical router (currently only 80; 443 are allowed for me).  For publicly accessible `libvirt` setup.
Or DMZ should be used?

[2019-07-11 15:30] cgwalters commented on #1399
Maybe...what we should do for this is treat RHCOS the same as the release image - and particularly for *official installer releases* we binary patch the binary so that it refers to https://mirror.openshift.com/pub/openshift-v4/dependencies/rhcos/ or so.

[2019-07-11 16:38] sferich888 commented on #1399
@abhinavdahiya what do we need to do to progress this as I see this as a huge win for our user experience in a few IPI use cases and mainly in all UPI use cases (as it helps simplify much of the complicated and cumbersome documentation points we have now).

[2019-07-11 16:52] oswee commented on #1909
@tux1980 Would be great to see how that was done. :) Have a similar issue, but no luck in solving that.

[2019-07-12 00:41] asalkeld commented on #1300
/assign

[2019-07-12 05:58] asalkeld commented on #1584
also see: https://github.com/openshift/installer/issues/1012

[2019-07-12 09:39] Rikbruggink commented on #1955
@tschwaller @rbo If you want to reuse the directory you need to delete the hidden file .openshift_install_state.json that file contains the certificate information for the cluster.

[2019-07-12 12:12] zeenix commented on #1974
The `libvirt` platform is mainly intended for local-only setups for testing and development so documenting how to expose the cluster over the internet is not in the highest of priorities and hence this is not an issue we want to keep open. That said, it should be possible to expose the network through iptables/firewalld but i don't know the magic. If you find out how, you're more than welcome to c

[2019-07-12 12:12] #1974 closed

[2019-07-12 12:13] zeenix commented on #1974
/label platform/libvirt
/kind documentation

[2019-07-12 12:14] zeenix commented on #1974
/label platform/libvirt

[2019-07-12 13:10] tschwaller commented on #1955
I will check the whole setup again and see if by mistake I used an old bootstrap.ign file, because I started several times from scratch (as described above, hanks for the hints!). Will report if it works....

[2019-07-12 16:29] oswee commented on #1974
Ok. Tnx. Trying to set up neat home lab. When will come up with something reasonable will try to contribute.

[2019-07-12 17:47] cgwalters commented on #1399
Another appoach here is to expand on the "redirector service" model that we already use on the RHCOS side.  A team like SD would run a dynamic service `mirror.openshift.com/pub/openshift-v4/dependencies/rhcos?sha256=ff088ec361f94258a4cd9400e8483b3fc14be7e205e645b372003e77de7ec3a`.

To avoid duplication, the existing "static" content would just become redirects to the dynamic one which fetched by s

[2019-07-12 19:00] ericbaranowski commented on #1817
@ams0

I was also having problems with the release from early June, you have to build it from master like @abhinavdahiya mentioned and then it worked perfectly.

[code]

[2019-07-12 19:42] ams0 commented on #1817
@ericbaranowski you might be right indeed, my version is (the one mentioned in the azure docs here):

[code]

For now, the workaround I found is to approve nodes’ CSR while the installer is running; this will make the nodes come up and accept workloads:

[code]

@serbrech

[2019-07-14 12:16] jmutai commented on #1962
Hi,

Which RHCOS OpenStack image version are you using?. I couldn't get one working.

[2019-07-15 08:30] jichenjc opened #1985 "[openstack] FATAL Resource not found in destroy cluster"
# Version

[code]
[root@jichen-openstack-1 installer]# bin/openshift-install version
bin/openshift-install unreleased-master-1297-g4f5f6a639e30bbe40422653200b9fb15666cc5dc-dirty
built from commit 4f5f6a639e30bbe40422653200b9fb15666cc5dc
release image registry.svc.ci.openshift.org/origin/release:4.2

# Platform:

openstack
# What happened?
first destroy has some error , 2nd try succeed

[root@jiche

[2019-07-15 08:31] jichenjc commented on #1985
please note I tried this several times and each time got same result(create a cluster then destroy it )....

[2019-07-15 08:35] Vlatombe commented on #1349
Would like be fixed by #1984 / openshift/cloud-credential-operator#91

[2019-07-15 12:31] dmage opened #1986 "Add cloud name to Infrastructure status"
The installer provides the secret `openstack-credentials` with `clouds.yaml`, but this secret may contain configuration for multiple clouds. The name of the cloud is stored in the installer config, but the operators shouldn't use this config and should use the Infrastructure resource instead.

Can the cloud name be added to PlatformStatus?

[2019-07-15 13:26] JuozasA opened #1987 "Set Router service "Private" instead of LoadBalancerService during install"
# Version
[code]

# Platform:
Azure

# What happened?
Is there a way to change the cluster-ingress-operator provisioned router service from LoadBalancerService to Private (or ClusterIP) so that it wont create the Loadbalancer on Azure once Openshift is installed?

# What you expected to happen?
either install-config or one of the manifests accept the Endpoint Publishing Strategy parameter and wont

[2019-07-15 13:56] abhinavdahiya commented on #1986
cc @trown

Should be definitely possible...

[2019-07-15 13:58] abhinavdahiya commented on #1987
Send like a duplicate of https://github.com/openshift/installer/issues/1946

/close

[2019-07-15 13:58] #1987 closed

[2019-07-15 14:53] adambkaplan commented on #1986
@abhinavdahiya @dmage looks like we already have a PR to add `PlatformStatus` for OpenStack to the API. Made a note there.

https://github.com/openshift/api/pull/374

[2019-07-15 15:08] tomassedovic commented on #1986
The `CloudName` field has been added to https://github.com/openshift/api/pull/374

[2019-07-16 07:53] oglok commented on #1828
Any update on this? In the Akraino project, we have a job for building the installer recurrently with libvirt support, and adding the version. This wrong commit id makes the job fail.

[2019-07-16 16:45] #1457 closed

[2019-07-16 19:12] #1986 closed

[2019-07-16 19:29] russellb opened #2003 "baremetal: Consider an alternate way to specify which hosts should be masters"
This is a follow-up from a review on PR #1873.  https://github.com/openshift/installer/pull/1873#discussion_r304057442

The current install-config for the experimental `baremetal` platform includes a `role` field on the bare metal hosts.  This is to be used to specify which of the defined bare metal hosts should be chosen for provisioning as control plane nodes.

We discussed some alternatives:

1

[2019-07-16 19:33] stbenjam commented on #2003
I should also note: in many cases, we probably don't care which hosts are used as master and workers. Ironic is able to decide for itself using the allocation mechanism, or just let the terraform config implicitly picks the hosts as workers or masters based on the order they were defined. We just only need to make sure we have enough hosts available.

[2019-07-16 19:40] russellb commented on #2003
It's possible that a deployment has different hardware for control plane hosts vs compute hosts, so we'll need a way to be explicit somehow

[2019-07-16 21:05] russellb opened #2005 "baremetal: Implement "destroy cluster" support"
Original issue: https://github.com/openshift-metal3/kni-installer/issues/74

kni-install does not yet support "destroy cluster" for baremetal clusters.

See pkg/destroy/baremetal/baremetal.go for the stub, and other implementations under pkg/destroy/ for examples of implementations on other platforms.

Having the baremetal-operator drive Ironic to destroy itself is not ideal, as we can't ensure th

[2019-07-16 21:07] russellb opened #2006 "baremetal: Need additional validation on apiVIP and ingressVIP"
Original issue from @stbenjam - https://github.com/openshift-metal3/kni-installer/issues/142

Currently we just validate that it's a valid IP, but we should check that it is also not part of the MachineCIDR / ClusterNetwork / Sevice Network

See: openshift/installer#1873 (comment)

[2019-07-16 21:09] russellb opened #2007 "baremetal: Add platform credentials check for BMC"
Original issue from @stbenjam - https://github.com/openshift-metal3/kni-installer/issues/162

In the baremetal platform, a user provides us BMC credentials. Like other platforms, we should do a credential check to make sure they work before getting further down the install process.

See: openshift/installer#1873 (comment)

[2019-07-16 21:15] russellb opened #2009 "baremetal: Add support for install gather"
Original issue from @stbenjam - https://github.com/openshift-metal3/kni-installer/issues/79

---

openshift added debugging - https://github.com/openshift/installer/blob/master/cmd/openshift-install/gather.go - on installation failure.  We need to add support for the baremetal platform.  In order to do that, terraform needs to know the IP's of the bootstrap and master nodes.

This produces some co

[2019-07-16 21:17] russellb opened #2010 "baremetal: Use Ironic fast-track provisioning"
Original issue from @hardys - https://github.com/openshift-metal3/kni-installer/issues/140

---

Similar to https://github.com/metal3-io/baremetal-operator/issues/246 we're not currently using fast-track provisioning:

[code]

We should figure out how to drive introspection and provisioning without the interim power off/on, to align with the expected ironic fast-track workflow and save us some wal

[2019-07-17 01:21] bjhuangr commented on #1962
It's rhcos-420.8.20190708.2-openstack.qcow2 .
You can find the url in: https://github.com/openshift/installer/blob/master/data/data/rhcos.json

[2019-07-17 11:33] markmc opened #2021 "Include openshift-install binary with baremetal support in release image"
**Background**

Release images currently contain two installer images:

1. `installer` - built from [images/installer](https://github.com/openshift/installer/blob/master/images/installer/Dockerfile.ci), the standard openshift-install binary for Linux systems
2. `installer-artifacts` - built from [images/installer-artifacts](https://github.com/openshift/installer/blob/master/images/installer-artifa

[2019-07-17 11:34] markmc commented on #2021
/label platform/baremetal

[2019-07-17 17:59] Jabulisile opened #2026 "DEBUG Still waiting for the Kubernetes API: the server could not find the requested resource"
# Version

[code]

# Platform:
AWS

# What happened?

Installing a cluster on AWS using CloudFormation templates failing at Initializing the bootstrap node stage.

# What you expected to happen?

Initializing the bootstrap node on AWS with user-provisioned infrastructure to complete successfully.

# How to reproduce it (as minimally and precisely as possible)?

[code]

# Anything else we need to k

[2019-07-17 18:34] abhinavdahiya commented on #2026
[code]

the etcd cluster is not running and the log couldn't capture the logs from master's.

Are the control-plane machines running.. if they are can you capture logs from

[code]

[2019-07-17 20:15] Jabulisile commented on #2026
Thanks Abhinav. The control-plane machines are up. Are you recommending this command be ran on control-plane  machines? I'm unable to log into them via the bootstrap host using my ssh key.

[2019-07-17 21:46] Jabulisile commented on #2026
Thanks Abhinav. Have gathered logs from one of the masters and attached below. No pods currently running on the masters:

CONTAINER ID        IMAGE               CREATED             STATE               NAME                ATTEMPT             POD ID

$

[2019-07-18 01:28] tmjd opened #2031 "Invalid certificate when not using OpenshiftSDN for networking"
# Version

[code]

# Platform:
AWS

# What happened?
When using Calico for networking many pods that access the kubernetes apiserver report
`x509: cannot validate certificate for 172.30.0.1 because it doesn't contain any IP SANs`.
Operators that are using the external api DNS name are able to connect to the apiserver successfully but not any that are using the kubernetes service.
While the API ser

[2019-07-18 01:39] abhinavdahiya commented on #2026
[code]

it looks like your pull-secret doesn't have access to pull images..?

[2019-07-18 08:29] JuozasA commented on #1946
Kubernetes Azure-loadbalancer reconciles the Network Security Group and the LB:
https://github.com/kubernetes/kubernetes/blob/fc32d2f3698e36b93322a3465f63a14e9f0eaead/pkg/cloudprovider/providers/azure/azure_loadbalancer.go#L806

Our cluster-ingress-operator uses Service type LoadBalancerService if nothing is provided:
https://github.com/openshift/cluster-ingress-operator/blob/5b423d4a09feb17320da1

[2019-07-18 10:42] hardys opened #2032 "baremetal: keepalived/coredns systemd restarts can permanently fail"
Platform: baremetal

# What happened?

The keepalived and coredns services are currently started via systemd units (although there is work in progress to convert to static pods ref https://github.com/openshift-metal3/kni-installer/pull/155)

When testing locally I hit an issue which caused the keepalived container to exit, but then the systemd restart got stuck permanently with a "storage for cont

[2019-07-18 12:22] markmc opened #2037 "No RHCOS image in baremetal Machines and MachineSets"
From openshift-metal3/kni-installer#160

In the Generate() function for masters and workers under pkgs/assets/machines every other platform except libvirt generates an RHCOS image asset and includes it in the Machines or MachineSets it generates

Why isn't the baremetal platform doing this?

(NB - currently on baremetal the generated RHCOS image is the qcow image we use with libvirt for the bootst

[2019-07-18 12:22] markmc commented on #2037
/label platform/baremetal

[2019-07-18 12:30] markmc opened #2038 "baremetal bootstrap needs to use coredns and keepalived from the release image"
From openshift-metal3/kni-installer#61

The installer must be able to run in a way that only pulls official OpenShift release image. Right now we're deploying two custom images:

1. `quay.io/openshift-metal3/coredns-mdns:latest`
2. `quay.io/celebdor/keepalived:latest`

These are run from the `coredns.sh` and `keepalived.sh` bootstrap node scripts

[2019-07-18 12:30] markmc commented on #2038
/label platform/baremetal

[2019-07-18 12:30] markmc commented on #2038
The installer itself does not query the release image for any image pull specs, so we can't rely on the installer templating to insert the correct images before constructing the ignition configs which include these scripts and the corresponding systemd units

Instead, we need to have `bootkube.sh` to make the correct pull specs available to these scripts (via an rc file?) before systemd starts the

[2019-07-18 13:26] hardys commented on #2038
Note there has been discussion ref https://github.com/openshift-metal3/kni-installer/pull/155 about moving from the systemd units to static-pods, how would we reference the necessary images in that case?

[2019-07-18 13:58] cgwalters commented on #1399
xref https://bugzilla.redhat.com/show_bug.cgi?id=1730910

[2019-07-18 14:25] hardys commented on #2037
This is also related to https://github.com/openshift-metal3/kni-installer/issues/58 - I think ideally we want to remove the image parameter completely from the install-config, since when the Ironic provisioning of masters and workers happen, the URL needed is different in each case.

That's really an internal implemenentation detail, and when we've got Ironic hosted on the bootstrap VM via https:/

[2019-07-18 14:48] markmc commented on #2038
Great point - let's get some basics straight. The pull specs for these containers must come from the release image via the following paths:

1. This sort of image substitution happens (i.e. query the pull spec of a container from the release image) first when you run `oc adm release new`, it does this substitution on everything from the /manifests directory all containers with the `io.openshift.re

[2019-07-18 15:05] runcom commented on #2038
how does this rendering relates specifically to the MCO? otherwise, I think any of your operator could have a render mechanism similar to the MCO ones that lays down manifests that you own - right now, everything we render in kube-land is owned by us and our operator (with a notable exception of the `setup-etcd-environment`).

[2019-07-18 15:09] celebdor commented on #2038
It's about getting (almost) the same we have on MCO in the bootstrap node.

[2019-07-18 15:34] samson7point1 opened #2043 "Installer for libvirt fails with multiple "the server does not recognize this resource" messages"
# Version
[code]

# Platform:

libvirt

# What happened?
The installer failed with a fatal warning "failed to initialize the cluster: Multiple errors are preventing progress"
[code]
See [the troubleshooting documentation](https://github.com/openshift/installer/blob/master/docs/user/troubleshooting.md) for ideas about what information to collect.
For example, if the installer [fails to create resou

[2019-07-18 15:48] markmc commented on #2038
Discussion on slack indicates that @celebdor is now investigating whether to use `m-c-o bootstrap` to render the keepalived and coredns static pods (and associated config files) on the bootstrap node (for the baremetal platform only)

bootkube.sh would query the release image for those containers and pass them to `m-c-o bootstrap`

`m-c-o bootstrap` would also use the VIP information from Infra.St

[2019-07-18 18:15] abhinavdahiya commented on #2043
/assign @zeenix
/label platform/libvirt

[2019-07-18 21:53] lmm commented on #2031
I've also ran into this with certificate validation issue with previously working versions of openshift-installer like v4.1.2

[2019-07-19 00:43] mikecali opened #2049 "Openshift 4.2 with proxy enabled : Cluster operator monitoring is reporting a failure"
# Version
./openshift-install unreleased-master-1297-g4f5f6a639e30bbe40422653200b9fb15666cc5dc-dirty
built from commit 4f5f6a639e30bbe40422653200b9fb15666cc5dc
release image registry.svc.ci.openshift.org/origin/release:4.2
[code]

# Anything else we need to know?

Without proxy enabled - the install is working fine.

[2019-07-19 09:24] ahrtr opened #2051 "Installation of libvirt with KVM failed"
##### Version
$ bin/openshift-install version
bin/openshift-install unreleased-master-1364-g2df090bc2e3b8296bd1cf0f8b2f17368e3e60b89
built from commit 2df090bc2e3b8296bd1cf0f8b2f17368e3e60b89
release image registry.svc.ci.openshift.org/origin/release:4.2

$ cat /etc/redhat-release
Red Hat Enterprise Linux Server release 7.6 (Maipo)
$ uname -a
Linux kvm-019789.novalocal 3.10.0-957.12.2.el7.x86_64 #

[2019-07-19 09:50] zeenix commented on #2043
Most likely a duplicate of #1893 .

/close

[2019-07-19 09:50] #2043 closed

[2019-07-19 09:54] zeenix commented on #2051
I've heard that libvirt doesn't like lack of firewalld. Can you check if you can create and run VMs using `virt-manage`?

[2019-07-19 11:11] hardys commented on #2037
Looking at this rhcos.Image is currently a string, and it's consumed like:

[code]

So I wonder if we can insteadm make Image a struct (renamed to Images?) then have two keys, bootstrapImage and osImage?

Then for all platforms where these are the same, they'd return the same value.

[2019-07-19 11:29] hardys commented on #2037
Another possbly less invasive approach would be to add a new abstraction e.g rhcos.OSImage which returns rhcos.Image for all platforms except those where the bootstrap and OS images don't match?

I need to resolve this for bootstrap hosted Ironic ref https://github.com/openshift/installer/pull/2035 so perhaps @abhinavdahiya may be able to provide some feedback on the preferred approach and I'll wo

[2019-07-19 13:33] hardys commented on #2037
Discussion indicates that currently no platforms support changing the boot image post deploy, and rely on the upgrade of the bootimage after provisioning.  So that simplifies things a bit.

[2019-07-19 13:34] JuozasA opened #2053 "manifest-templates option is missing from installer"
# Version

[code]

# Platform: Any

# What happened?

I remember on version 4.0 there was an option to generate manifest-templates before installation. Now i see it is gone. Are there plans to bring it back?

[code]

# What you expected to happen?

manifest-templates option available when running openshift-install create

[2019-07-19 13:42] abhinavdahiya commented on #2053
We released GA 4.1 without that option. And we don't have current plans to bring them back.

What's your use case?

[2019-07-19 14:23] cgwalters commented on #2037
https://github.com/openshift/os/issues/381

[2019-07-19 14:27] Jabulisile commented on #2026
Thanks Abhinav. Rebuilt with a new pull-secret and the error has cleared. Closing the issue.

[2019-07-19 14:27] #2026 closed

[2019-07-19 14:38] hardys commented on #2037
Ack thanks - the issue for Baremetal IPI right now is that we download/cache the bootimage at the time of initial deployment.  As support for updating the bootimage evolves we can certainly figure out how to refresh that, but it seems that we can defer that work until the initial integration is completed.

[2019-07-19 14:39] JuozasA commented on #2053
Currently, if I am installing OCP on public cloud, I have no option to select the ingress type (it defaults to LoadBalancerService and creates the LB with all the DNS records, public IP and security rules).

Most of potential (including my current client) OCP4 clients will want to restrict the Ingress access from the Internet to their OCP.
Right now, e.g. on Azure, if i try to change the Network S

[2019-07-19 14:56] abhinavdahiya commented on #2053
manifest-templates would not help with that. And you can open bug/rfe with cluster-ingress-operator to make the LB private.

/close

[2019-07-19 14:56] #2053 closed

[2019-07-19 16:37] jaredk-beta commented on #1955
I believe I'm seeing the same or a similar problem. I'm attempting to deploy a cluster from scratch on vSphere (clean directory, no existing files) and the cluster nodes are unable to boot due to Ignition complaining about the certificate for the API.

Bootstrap server log:
[code]

OpenShift installer log:
[code]

Log from the console of one of the master servers:
[code]

And finally, inspecting t

[2019-07-19 17:09] jaredk-beta commented on #1955
Right after I posted the above I noticed that the bootstrap server log showed a significant time change. Turns out the vSphere hosts I was attempting to run the cluster on were behind in their clocks by several hours :man_facepalming:. So since the cluster nodes hadn't had a chance to run NTP and update their clocks they weren't able to see the certificates as valid. Running the process over again

[2019-07-19 17:49] yashbhutwala commented on #1349
I'm seeing a similar error, also trying to deploy on AWS.  My account has MFA enabled, but I'm able to get username from the command given by @wking above.  This is the error I'm getting:

`
FATAL failed to fetch Terraform Variables: failed to fetch dependency of "Terraform Variables": failed to fetch dependency of "Bootstrap Ignition Config": failed to fetch dependency of "Master Machines": faile

[2019-07-21 13:11] ahrtr commented on #2051
Thanks for the info. It turned out to be that the nested VM isn't enabled.

[2019-07-21 13:11] #2051 closed

[2019-07-22 11:39] zeenix commented on #1893
Not sure why the bot relabled this as libvirt.

/remove-label platform/libvirt

[2019-07-22 11:53] Sarang-Sangram commented on #1428
I am facing timeout issue too :
Error log :

`DEBUG module.bootstrap.libvirt_volume.bootstrap: Destruction complete after 6s `
`DEBUG module.bootstrap.libvirt_ignition.bootstrap: Still destroying... [id=/var/lib/libvirt/images/os4c12-ptj9b-bo...n;5d3593d7-6059-b20a-544e-b2e7f3773083, 10s elapsed] `
`DEBUG module.bootstrap.libvirt_ignition.bootstrap: Destruction complete after 11s
DEBUG Destroy com

[2019-07-22 13:45] zeenix commented on #1428
@Sarang-Sangram Sorry to hear that you face the same but if waiting longer for the Installer doesn't help and it never comes up, this is not the relevant issue. You might be facing https://github.com/openshift/installer/issues/1893

[2019-07-22 15:48] e-minguez opened #2058 "RFE: Add install-config.yaml document to explain all the parameters"
# Version
any

# Platform:
any

# What happened?
The `install-config.yaml` file contains a lot of parameters that should be explained for users.

# What you expected to happen?
A `install-config.yaml` document explaining the parameters and values that can be used.

# How to reproduce it (as minimally and precisely as possible)?
Try to figure out the `install-config.yaml` parameters

# Anything els

[2019-07-22 16:55] hardys opened #2060 "baremetal: Enable ironic on the bootstrap VM"
openshift-install currently assumes Ironic has been stood up outside of the installer. Terraform will drive that instance of Ironic to provision the masters which works but isn't the desired self-contained integration.

Instead, we'd like to be able to minimize external pre-requisites and be able to spin up Ironic within the bootstrap VM for provisioning the masters.

In addition, this instance of

[2019-07-22 16:55] hardys commented on #2060
/assign

[2019-07-22 16:55] abhinavdahiya commented on #2058
we already have customization docs for our supported platforms:

aws: https://github.com/openshift/installer/blob/master/docs/user/aws/customization.md
azure: https://github.com/openshift/installer/blob/master/docs/user/azure/customization.md

so i'm not sure what else would be required?

[2019-07-22 16:55] hardys commented on #2060
/label platform/baremetal

[2019-07-22 16:57] hardys commented on #2060
cc @russellb please can you add the platform/baremetal label - thanks!

[2019-07-22 17:28] hardys commented on #2037
/assign

[2019-07-22 18:11] russellb opened #2063 "baremetal: installer should register hosts for masters and workers"
Original issue from @dhellmann here: https://github.com/openshift-metal3/kni-installer/issues/46

---

# Platform:

baremetal

# What happened?

After the cluster was running, there were no BareMetalHost objects associated with the Machines for master Nodes.

# What you expected to happen?

At least the information for the BareMetalHost CRs for the masters should be registered. If those are set up

[2019-07-22 18:15] russellb opened #2064 "baremetal: Use pinned RHCOS version for masters"
Original issue from @markmc here: https://github.com/openshift-metal3/kni-installer/issues/37

---

openshift-install is currently built with a pinned build of rhcos. See e.g.

[code]

We currently properly use this image for the bootstrap VM launched with the libvirt provider:

[code]

This resolves to a URL in that channel for the QEMU image for that build as listed in meta.json at https://relea

[2019-07-22 18:16] russellb commented on #2064
@markmc - May 7

---

The end goal here should probably be that bare-metal IPI fully manages the provisioning service for both master and worker deployment, including providing the correct RHCOS images to the provisioning service

i.e. openshift-install should download the RHCOS image and give it to Ironic. And longer-term when the a new release payload can update the bootimage in the installer-cr

[2019-07-22 18:18] russellb commented on #2064
@hardys noted on the original issue that this should be resolved by #2060

[2019-07-22 18:30] russellb opened #2065 "baremetal: Add dns VIP to install config"
There is an existing VIP for DNS that must be user supplied.  It's currently discovered using a `ns1.<cluster-name>.<base-domain>` DNS record, but this is not something we want to require be present in external DNS.

Note there was a PR for this against the KNI installer fork, but that fork is now retired:

https://github.com/openshift-metal3/kni-installer/pull/157

[2019-07-22 18:35] russellb opened #2066 "baremetal: Populate infrastructure resource platformStatus with VIP details"
As of this commit: https://github.com/openshift/api/commit/6a276bd3, we can put the virtual IPs used for the `baremetal` platform in the `platformStatus` field of the infrastructure resource.  The installer needs to populate this status with the VIPs provided to the installer.

Note this previous PR that did part of this: https://github.com/openshift-metal3/kni-installer/pull/105

[2019-07-22 19:07] russellb opened #2067 "baremetal: Migrate bootstrap assets to machine-config-operator"
bootkube already uses MCO to render other bootstrap assets.  The idea here is to move the bootstrap assets for the baremetal platform from the installer to MCO.

A driving motivation behind this is that at install time, we're not able to get the right image pull spec for each of the services.  By moving this to MCO, we can inspect the release image and pass the right pull specs to MCO, similar to

[2019-07-23 00:16] amanohar opened #2069 "Cluster creation fails on Azure using Mac installer"
# Version

[code]

# Platform:
Azure

# What happened?
I downloaded the installer for Mac from: https://cloud.redhat.com/openshift and the cluster creation fails consistently at the same step. Master nodes are ready but worker nodes don't join the cluster.

`.openshift_install.log`:

time="2019-07-22T15:59:55-07:00" level=debug msg="Still waiting for the cluster to initialize: Working towards 4.2.

[2019-07-23 02:24] akrzos commented on #1962
I am also hitting this issue.

[2019-07-23 05:34] abhinavdahiya commented on #2069
/label platform/azure

1) Can you make sure the machines have actually being created.
2) Make sure you have approved the CSRs for the compute nodes joining.
   The tech preview installation had errors where the compute nodes don't join the cluster because the CSRs were not approved. See the note in https://github.com/openshift/installer/blob/master/docs/user/azure/install.md#create-cluster

3) you

[2019-07-23 08:03] #1973 closed

[2019-07-23 08:22] Sarang-Sangram opened #2070 "Cluster initialization failed with timeout : (Platform : Libvirt)"
# Version

[code]

# Platform:

Libvirt
# What happened?

During the installation I am getting stuck at below stage where it doesn't moves ahead the step even after changing the timeout to 60 mins, and modifying the Memory and CPU to 16GB and 4 VCPU's respectively.

`INFO Waiting up to 30m0s for the cluster at https://api.os4c12.hc.os4:6443 to initialize`

`FATAL failed to initialize the cluster:

[2019-07-23 09:49] zeenix commented on #2063
We modified the issue template to make it harder for issue creators to add names of non-relevant platforms in the description recently but seems we didn't do a good job of that. Could you please remove them from description, thanks.

[2019-07-23 09:52] hardys commented on #2064
/assign

[2019-07-23 09:54] hardys commented on #2064
Yes this should be resolved as part of the rework for #2037 which is a prerequisite for #2060 - I'll take this issue and work on a PR which switches to using the image maintained internally vs the install-config data.

@hardys noted on the original issue that this should be resolved by #2060

[2019-07-23 10:28] zeenix commented on #2070
I'm experiencing the same I think with latest git master. I'll investigate.

No, you have to get/install the separate. The `Installer` despite it's name doesn't install anything but rather creates a cluster for you. :)

/label platform/libvirt

[2019-07-23 12:46] russellb commented on #2063
I've removed the platform list, as well.

[2019-07-23 13:54] tmjd commented on #2031
What operator or component should be updating the certs to include the kubernetes service IP? I could do a little more digging if someone could direct me where to look.

[2019-07-23 13:54] tmjd commented on #2031
@squeed would you have any suggestions where to look?

[2019-07-23 14:00] squeed commented on #2031
Third-party network operators need to make sure they publish the current enabled CIDRs the "Network.config.openshift.io Status` field - see [here](https://github.com/openshift/api/blob/release-4.1/config/v1/types_network.go#L21).

That will cause the APIServer's certificate to be updated.

[2019-07-23 14:02] zeenix commented on #2070
At least on my machine, so far it seems like the DNS setup isn't working any more. While the libvirt configuration sets up the domain name for the hosts:

[code]

and I can ping & ssh to the hosts by their IP, their domain names are not working.

I double checked that `NetworkManager` has the correct configuration:

[code]

So not sure what's going on.

[2019-07-23 14:08] amanohar commented on #2069
cc: @mjudeikis
1 Yes, the machines were created:
<img width="769" alt="image" src="https://user-images.githubusercontent.com/12838766/61717640-56e14380-ad16-11e9-918e-279d24289f57.png">

2. The API server is now down (happens consistently a couple of hours after I create 4.x cluster)

I can try to create another cluster to get to approve CSRs stage.

3. Installer on Mac seems to be broken for the

[2019-07-23 15:52] mjudeikis commented on #2069
User newest installer from cloud.redhat.com and got csr issue (as expected):

[code]

after approval, I got fully working cluster. I suspect this is somehow related to where the installer is running

[2019-07-23 15:57] zeenix opened #2074 "Images not getting removed on cluster destruction"
# Version

[code]

# Platform:

libvirt

# What happened?

Seems I introduced a regression in https://github.com/openshift/installer/pull/1956 so our custom pool gets deleted on cluster destruction but the images and the dir are not deleted. The issue is probably in terraform-libvirt-provider side but I need to investigate first.

/assign
/label platform-libvirt

[2019-07-23 15:58] zeenix commented on #2070
/assign

[2019-07-23 15:59] zeenix commented on #2074
/label platform/libvirt

[2019-07-23 16:59] chancez commented on #2069
I cannot reproduce this on my Mac. I tried the latest 4.2 https://openshift-release.svc.ci.openshift.org/releasestream/4.2.0-0.ci/release/4.2.0-0.ci-2019-07-22-175905 and I also regularly build the installer from master and install from that and haven't seen this.

[2019-07-23 17:07] mjudeikis commented on #2069
golang version?

[2019-07-23 20:04] russellb commented on #2067
related: https://github.com/openshift/installer/issues/2038

This issue is kind of a duplicate, but we can leave them both open ...

[2019-07-24 04:16] Sarang-Sangram commented on #2070
I tried looking around more what I have noticed is that the DNS setup is proper , since the dig command is displaying both of the IP of the cluster.

[code]

Also during the cluster creation the debug log does shows the info that the API is up `INFO API v1.14.0+75aae0d up`

But it seems only one of the IP is working i.e. 11 and when its trying to create the cluster its getting failed as 10 is not

[2019-07-24 06:40] Sarang-Sangram commented on #2070
Since my 192.168.126.10 is not pinging but 192.168.126.11 is working. I checked the xml file and I can notice only entry for the .11 IP is present and not for .10 .

[code]

Is this something which should be taken care during the `create cluster` step ? Since, its not doing it in my case.

[2019-07-24 07:09] praveenkumar commented on #2070
@Sarang-Sangram `192.168.126.10` belong to bootstrap node which is destroyed as soon as the api server is up which is happening your case and that is also expected. can you care to share some of following info about your cluster?

- Output of `oc get co` => make sure first you export the `kubeconfig` file which is created by the installer.
- Output of `oc get csr`
- Attach the logs that should be

[2019-07-24 08:41] Sarang-Sangram commented on #2070
@praveenkumar When I am trying to tun the oc commands, it keep throwing the below error :
[code]
I am using the specific kubeconfig file that was generated during the cluster creation.

I have attached the openshift log file .
[openshift_install.log](https://github.com/openshift/installer/files/3425774/openshift_install.log)

[2019-07-24 09:38] praveenkumar commented on #2074
@zeenix Can you also verify the selinux context on the created images does it have the correct context there?

[2019-07-24 09:41] praveenkumar commented on #2070
@Sarang-Sangram According to https://github.com/openshift/installer/issues/2070#issuecomment-514501726 this you should only able to access `192.168.126.11` not `192.168.126.10` also kubeconfig suppose to have api hostname can you try to dig that api hostname and see what is the output?

[2019-07-24 09:46] Sarang-Sangram commented on #2070
@praveenkumar So should I be running the oc commands during the cluster initialization ?
When I do the dig for the hostname below are the answers received from dns server side :

[code]

[2019-07-24 10:25] zeenix commented on #2074
I don't know but I think @skitt did test it with selinux: https://github.com/openshift/installer/pull/1956#pullrequestreview-260091802 . I'll recheck.

[2019-07-24 10:41] zeenix commented on #2070
I ssh'ed into the master and bootstrap nodes and the journals look all fine. Even the worker node is created and running. Also i could reach out (ping) master from boostrap and viveversa through domain names. So based on all the information so far, I'm betting it's somehow `NetworkManager` or `dnsmasq` at fault here.

[2019-07-24 10:49] Sarang-Sangram commented on #2070
I have 1 doubt. Should the API address i.e. `api.os4c12.hc.os4` in my case , should be resolvable to the corresponding IP ? I mean, the nslookup to api.os4c12.hc.os4 should give the 192.* IP ?

[2019-07-24 11:06] praveenkumar commented on #2070
@Sarang-Sangram `nslookup api.os4c12.hc.os4` should provide you the master node IP.

[2019-07-24 11:40] hamzy commented on #1924
+ LOCAL_IMAGE_FILE=rhcos-latest.qcow2
+ RHCOS_VERSIONS_FILE=rhcos.json
+ curl --silent -o rhcos.json https://raw.githubusercontent.com/openshift/installer/master/data/data/rhcos.json
++ jq --raw-output '.baseURI + .images.openstack.path' rhcos.json
+ IMAGE_URL=https://releases-art-rhcos.svc.ci.openshift.org/art/storage/releases/rhcos-4.2/420.8.20190708.2/rhcos-420.8.20190708.2-openstack.qcow2
++ j

[2019-07-24 14:12] tmjd commented on #2031
Thanks.
Due to a misconfiguration on our/my part our operator was not getting to the point where it would update the Network Status.

One note, I did fix an installation that had gotten into the state where the IP Sans were not present and I fixed the operator so it updated the Status but the IP Sans problem did not seem to resolve. I ended up just rebuilding my cluster and with the fixed config i

[2019-07-24 14:12] #2031 closed

[2019-07-24 14:35] squeed commented on #2031
Great, thanks for the update!

[2019-07-24 14:42] mkumatag opened #2080 "fedora coreos: Extra space in the bootstrap kubelet service is creating an issue while starting the kubelet service"
# Version

[code]

# Platform:
libvirt

# What happened?

While deploying an openshift cluster with fedora coreos have seen following issue while starting the kubelet with the following error:
[code]

service file:

[code]

From the error message its very evident that \ after ` --volume-plugin-dir` option appending `Restart=always` as an option and trying to run and failed.

# What you expected to

[2019-07-24 15:10] zeenix commented on #2074
I'm not selinux expert but selinux is enforced on my machine and there hasn't been any issues wrt volume access/usage. About the leak itself, I found out the issue and it was in the existing code. #1956 only exposed it. I'll send a PR for this soon after i test my fix.

[2019-07-24 15:23] Sarang-Sangram commented on #2070
When I do nslookup to the api it doesn't resolves it throwing error`* server can't find api.os4c12.hc.os4: NXDOMAIN`.

Also , I destroyed the cluster and triggered the creation again and it failed as ususal with the same error. But now , I only see 1 entry on the dig command .10 and not .11 , which was there previously.

[code]

[2019-07-24 15:59] mandre commented on #1962
/label platform/openstack

[2019-07-24 22:20] abhinavdahiya commented on #1690
This now almost done.

/close

[2019-07-24 22:20] #1690 closed

[2019-07-24 22:22] abhinavdahiya commented on #1790
closing due to inactivity, please reopen if needed.

/close

[2019-07-24 22:22] #1790 closed

[2019-07-24 22:22] abhinavdahiya commented on #1816
closing due to inactivity, please reopen if needed.

/close

[2019-07-24 22:22] #1816 closed

[2019-07-24 22:23] abhinavdahiya commented on #1893
This seems like this belongs on https://github.com/openshift/cluster-machine-approver
Please open a bugzilla or issue against cluster-machine-approver

/close

[2019-07-24 22:23] #1893 closed

[2019-07-24 22:24] abhinavdahiya commented on #1946
this is duplicate of https://github.com/openshift/installer/issues/1766

/close

[2019-07-24 22:24] #1946 closed

[2019-07-24 22:57] abhinavdahiya commented on #111
This is already defined here https://docs.openshift.com/container-platform/4.1/installing/installing_aws/installing-aws-account.html#installation-aws-permissions_installing-aws-account

/close

[2019-07-24 22:57] #111 closed

[2019-07-24 22:58] abhinavdahiya commented on #1085
https://github.com/openshift/installer/issues/1690 duplicate

/close

[2019-07-24 22:58] #1085 closed

[2019-07-24 22:59] abhinavdahiya commented on #1135
haven't seen these anymore. feel free to reopen if needed.

/close

[2019-07-24 22:59] #1135 closed

[2019-07-24 22:59] abhinavdahiya commented on #1177
haven't seen these anymore. feel free to reopen if needed.

/close

[2019-07-24 22:59] #1177 closed

[2019-07-24 22:59] abhinavdahiya commented on #1216
haven't seen these anymore. feel free to reopen if needed.

/close

[2019-07-24 22:59] #1216 closed

[2019-07-24 23:02] abhinavdahiya commented on #1321
This is not somethings installer can fix.

/close

[2019-07-24 23:02] #1321 closed

[2019-07-24 23:11] abhinavdahiya commented on #1418
the installer uses aws-sdk-go and it has exp backoff already.

/close

[2019-07-24 23:11] #1418 closed

[2019-07-24 23:13] abhinavdahiya commented on #1562
openshift-dev account should be cleaning them correctly, if the installer doesn't find the private zone, the public records cannot be delete for safety.

/close

[2019-07-24 23:13] #1562 closed

[2019-07-24 23:14] abhinavdahiya commented on #1668
this should be fixed.

/close

[2019-07-25 01:35] jichenjc commented on #1924
I haven't try recently, at least after got info here, I am able to download images :)

[2019-07-25 05:51] Sarang-Sangram commented on #2070
So, today I executed the create cluster again , and it failed over the same step i.e.
[code]

But then I logged into the master node and ran the oc commands and its giving the below output :
[code]
[code]

[2019-07-25 06:59] Sarang-Sangram commented on #2070
Below are the pod list

[code]

[2019-07-25 07:13] Sarang-Sangram commented on #2070
Cluster version :

[code]

[2019-07-25 10:50] hardys opened #2090 "baremetal: Migrate Ironic services to upstream images"
The integration proposed via #2079 currently depends on some upstream images, because those in the openshift org are still in-progress.

This issue is to track moving to the correct OCP builds of these containers, and also similar to #2067 we should look at options to move to a staticpod, and perhaps also the MCO instead of the current systemd/script approach.

Ideally I'd like to not block the in

[2019-07-25 12:22] hardys opened #2091 "baremetal: Support alternate subnets for provisioning network"
https://github.com/openshift/installer/pull/2079 has some hard-coded references to the 172.22.0.0/24 subnet, with only partial support for modifying the IPs associated with this.

That's probably OK for initial experimental support, but raising this to track properly parametrizing  and templating all references to that subnet, so it can be changed in the event it conflicts with some existing end-u

[2019-07-25 12:48] Fedosin commented on #1962
https://github.com/openshift/cluster-image-registry-operator/pull/326 should fix that

[2019-07-25 14:05] hamzy commented on #1924
@jichenjc Could you please try it again?  Or someone else?

[2019-07-25 14:39] #1962 closed

[2019-07-25 15:12] zeenix commented on #1668
@abhinavdahiya Which commit should have fixed this? I'm still able to reproduce it:

[code]

/reopen

[2019-07-25 16:04] dhellmann commented on #2063
/assign dhellmann

[2019-07-25 16:15] zeenix commented on #2070
Turns out my issue was caused by misconfiguration so not the same.

[2019-07-25 16:28] Sarang-Sangram commented on #2070
Any suggestion how to deal with the pending CSR ? How to approve it ? And once I do it should I re-run the create cluster or something else ? Or how to move ahead from this point ?

[2019-07-25 16:58] zeenix commented on #2070
@Sarang-Sangram Yeah, you've to manually approve them:

[code]

I'm close this now as it's a duplicate of #1893.

On my TODO to add the CSR workaround into docs.

[2019-07-25 16:58] zeenix commented on #2070
/close

[2019-07-25 16:58] #2070 closed

[2019-07-25 18:26] slmingol commented on #1083
We manage our AWS accounts such that we have a VPC with CIDR blocks in 3 AZs. I'm pretty sure this is a standard type of setup if you look at the AWS best practices around this.

![image](https://user-images.githubusercontent.com/15072/61898795-1b966e80-aee8-11e9-9ff0-1ed1055b17d9.png)

I would expect the installer to either be able to discover the CIDRs and then procure IPs from them or be told w

[2019-07-25 18:52] abhinavdahiya commented on #2090
/label platform/baremetal

[2019-07-25 18:52] abhinavdahiya commented on #2091
/label platform/baremetal

[2019-07-25 19:45] brianredbeard opened #2096 "Errors displaying path resource in GCP installation"
# Version

[code]

# Platform:
GCP

# What happened?
It appears that in https://github.com/openshift/installer/blob/b6efc71c5f6467fd7dad9fc0055fa11efc1406b5/pkg/asset/installconfig/gcp/session.go#L71

`logrus` either does not handle Go `fmt` type options or the option chosen was incorrect:

[code]

[2019-07-25 21:18] abhinavdahiya commented on #2096
/label platform/google

[2019-07-26 03:58] abhinavdahiya commented on #2096
Fixed by https://github.com/openshift/installer/issues/2101

/close

[2019-07-26 03:58] #2096 closed

[2019-07-26 10:27] zeenix commented on #1893
@abhinavdahiya https://github.com/openshift/cluster-machine-approver/issues/36

/remove-priority

[2019-07-26 12:03] ppitonak opened #2102 "openstack: cannot provision volume with storage class standard"
# Version

[code]

# Platform:
OpenStack

# What happened?

I installed OCP 4.2.0-0.ci-2019-07-26-072516  on OpenStack and default storage class seems to be misconfigured. After I deploy first app with a PVC I see the following error

[code]

# What you expected to happen?

Volume is provisioned and application can use it.

# How to reproduce it (as minimally and precisely as possible)?

[code]
#

[2019-07-26 12:38] russellb commented on #2021
@eparis @crawford @smarterclayton would be interested in your feedback on this issue, thanks!

[2019-07-26 13:17] smarterclayton commented on #2021
I would prefer baremetal support in the binary but gated by tech preview than ship a second image.  I recall a discussion with Alex about having a tech preview env var guard, did that happen yet (and/or would that be a better solution here)?

[2019-07-26 13:19] smarterclayton commented on #2021
I’m also not sure I care too much if we just listed baremetal in the choices but said “tech preview” next to it - but a tech preview flag that controls more than just platforms would be useful in general (and if we did that, I could still see us wanting to list it as tech preview).

To an end user, we already have the concept of a feature flag or feature set, I don’t see a huge reason not to exten

[2019-07-26 13:31] russellb commented on #2021
Hiding it in the choices really isn't a big deal.  The bigger problem is that we can't build a single binary that also works for baremetal without imposing a new requirement to have libvirt installed.  To avoid creating new compatibility challenges for the main installer binary, an alternative is to just bundle a second installer build in the release image only used for baremetal.

[2019-07-26 13:40] hardys opened #2104 "crio-wipe service failing on latest qemu bootimage"
Since https://github.com/openshift/installer/pull/2094 I'm seeing deployments fail with the baremetal platform (which uses the libvirt backend and qemu bootimage for the bootstrap node)

The issue appears to be that crio-wipe fails, which then means crio doesn't start, so the bootstrap VM never comes up.

Any tips on how to debug or workaround this most welcome :)

[code]

[2019-07-26 14:02] haircommander commented on #2104
/assign
Looking into it

[2019-07-26 14:04] haircommander commented on #2104
Are there any containers on the node that weren't started by CRI-O?

[2019-07-26 15:05] haircommander commented on #2104
Talking with @hardys on slack, we were able to come to the problem:

crio-wipe is for cleaning a node right after the MCO triggers a pivot and reboot, specifically to upgrade a node between minor versions of openshift. As such, it expects the first invocation to be run with no other running containers when crio first starts up. As of now, RHHI.next nodes are bootstrapped first with podman (startin

[2019-07-26 15:58] tschwaller commented on #1955
I did the installation again in at least 3 different setups (including the one which failed), but this time I made sure that my `bootstrap.ign` file was updated (I think this was the error I did the first time) and all three worked.

You just have to know that the created SSL certs for the installation are only valid until the next day and make sure they are not used somewhere if you use the same

[2019-07-28 16:08] ValentinoUberti opened #2111 "libvirt: cannot set master node vm memory"
# Version

[code]

# Platform:
libvirt

# What happened?
domainMemory var value in {INSTALL_DIR}/openshift/99_openshift-cluster-api_master-machines-0.yaml  is not used  for create the master vm. Master vm always have 6G of ram.

# What you expected to happen?
Change to  domainMemory var should be reflected during master vm creation

# How to reproduce it ?
1) Create manifiests:
     ./openshift-in

[2019-07-29 07:54] kshlm opened #2112 "[RFE] libvirt: Attach additional disks to VMs"
It would be really good to have a way to attach additional disks to the VMs (master and worker) created by the libvirt installer. This will help developers working on openshift storage projects.

An additional nice to have enhancement would be to make the attached disks become available as a storage class in the created cluster.

## Use case

The primary requirement for this is from the openshift

[2019-07-29 07:55] kshlm commented on #2112
/label platform/libvirt
/label kind/feature

[2019-07-29 09:57] zeenix commented on #2112
@kshlm thanks for filing this. Unfortunately you can't ask the bot to label unless you're in the Openshift group but it's OK, i can do that for you.

/label platform/libvirt
/kind feature

[2019-07-29 10:00] zeenix commented on #2112
/label platform/libvirt

[2019-07-29 10:03] zeenix commented on #2112
@kshlm It sounds like something that could be useful and nice but we've to focus on features that affect real use cases so I'm hoping you've one. If so, please do describe it.

[2019-07-29 13:32] ValentinoUberti commented on #2111
/label platform/libvirt

[2019-07-29 15:48] zeenix commented on #2111
Not sure **yet** who uses this config in the end (is it used at all?) but master is created through terraform and the terrform config respects the `libvirt_master_memory` variable (which translate to `TF_VAR_libvirt_master_memory` environment variable so there is way to specify the memory at least and that is the official way AFAIK.

Having said that, we need to check what's up with `openshift/99_

[2019-07-29 16:35] zeenix commented on #2111
So turns out this is the config for machines created by libvirt cluster api provider but master is created by Installer through terraform. So this config ends up being used for worker, instead of master. It's a bit confusing cause it's not obvious at all.

[2019-07-29 17:00] zeenix commented on #2111
small correction: For worker nodes, we've `openshift/99_openshift-cluster-api_worker-machines-0.yaml` file. And that *is* respected. If you create a master node through libvirt provider (after Installer is done), it will respect the values provided in the `openshift/99_openshift-cluster-api_master-machines-0.yaml` file.

So the problem is that the first master node is being created by Installer an

[2019-07-29 17:02] ValentinoUberti commented on #2111
Thank you. I get some of OOM on master node, that's why i tried to change master node memory. Installer stop @ 98% on Fedora 30.

[2019-07-29 18:25] Zouuup commented on #2102
Have tried this, still getting stat /etc/kubernetes/cloud-config: no such file or directory. i can confirm that symlink is there and even rebooted machines to make sure everything is realoded, any ideas?

[2019-07-29 18:46] wking commented on #1354
Cross-linking [rhbz#1734136][1].

[1]: https://bugzilla.redhat.com/show_bug.cgi?id=1734136

[2019-07-29 18:58] #2104 closed

[2019-07-29 21:01] giannisalinetti commented on #2111
Hi @zeenix. The `openshift/99_openshift-cluster-api_worker-machines-0.yaml` file contains the workers machineset and if you change the replicas you effectively get the expected numbers of nodes, but memory changes don't work there too.

[2019-07-29 21:10] #2080 closed

[2019-07-29 22:20] giannisalinetti commented on #2111
I think I have found the missing connection to the worker behavior.

The following `provider` function is used to define defaults for the Machines:
https://github.com/openshift/installer/blob/master/pkg/asset/machines/libvirt/machines.go#L60-L80

Here we can see the deafult values for cpu and the 6144 memory value. The provider function return a `*libvirtprovider.LibvirtMachineProviderConfig` stru

[2019-07-29 23:21] giannisalinetti commented on #2111
I can confirm you that by changing the `DomainMemory` to 8192 field in the `provider` function the generated manifests assume the above value.
https://github.com/openshift/installer/blob/master/pkg/asset/machines/libvirt/machines.go#L66

The inspected manifests are:
- `99_openshift-cluster-api_master-machines-0.yaml`
- `99_openshift-cluster-api_worker_machineset-0.yaml`

Anyway, on cluster creatio

[2019-07-30 06:09] Sarang-Sangram opened #2118 "Unable to increase the timeout of cluster creation ( libvirtd )"
# Version

[code]

# Platform:

libvirtd
# What happened?

Even though I am increasing the timeout of default cluster initialization to 120 minutes, its picking the default 30 mins time out.

# What you expected to happen?

It should wait and run for 120 mins during cluster initialization

# How to reproduce it (as minimally and precisely as possible)?

Timeout value changed on file `openshift/ins

[2019-07-30 09:48] zeenix commented on #2118
@Sarang-Sangram I think you forgot that you've been part of this discussion already: ) https://github.com/openshift/installer/issues/1428

/close

[2019-07-30 09:48] #2118 closed

[2019-07-30 09:50] zeenix commented on #2118
The state you showed is approved PRs but I'm guessing you mean they failed to approve last time. These are unrelated issues btw, even though both are caused by slow nodes typically.

[2019-07-30 10:34] Sarang-Sangram commented on #1428
After destroying the cluster I re-initiated the cluster creation, which again timed out. But I noticed, below states in the oc commands :
1. Below pods in pending state :
[code]
2. All oc services are up and True except for Authentication
[code]
3. In the describe clusterversion, I noticed error as unable to retrieve available updates :
[code]

[2019-07-30 13:44] stbenjam commented on #2021
FWIW, baremetal doesn't have a survey wizard, so it'll never be shown in the list of platforms to configure interactively.  IIRC hidden platforms only controls the ones with a survey, unless there's a different list other than the one in installconfig.go.

[2019-07-30 17:50] russellb commented on #2021
@abhinavdahiya FYI as well

[2019-07-30 19:09] #2074 closed

[2019-07-30 19:09] christianh814 opened #2124 "Azure IPI doc incomplete"
# Version

[code]

# Platform:
azure IPI

# What happened?

Doc for azure ipi (https://github.com/openshift/installer/tree/master/docs/user/azure) is incomplete. There are things missing that you need to do that's not outlined.

# What you expected to happen?

Doc gives you information

# How to reproduce it (as minimally and precisely as possible)?

Run through the Azure IPI installer

# Anything

[2019-07-30 23:33] oswee commented on #1041
Leaving comment. My masters and infras PXE installation succeeds, at least what it looks to me (just normal login screen with SSH keys stuff). But when i try to issue `openshift-install --dir=/root/ocp wait-for bootstrap-complete --log-level debug` it can't connect to `https://api.ocp.example.com:6443` because that endpoint does not work on masters. At some point it was working, but i can't replic

[2019-07-31 01:59] abhinavdahiya commented on #2124
Looking at the gist, the only thing it adds is as cli commands to setup SP..

The doc links to Azure to show how to do it.

If you have specific improvements please open a bug with those details. Generic docs are not complete are difficult to objectively fix.

/close

[2019-07-31 01:59] #2124 closed

[2019-07-31 14:29] stbenjam commented on #2067
@russellb Can you confirm if https://github.com/openshift/installer/pull/2119 fixed this issue?

[2019-07-31 14:36] russellb commented on #2067
yes, looks like this is done

[2019-07-31 14:36] #2067 closed

[2019-08-01 09:43] mandre commented on #2102
/label platform/openstack

[2019-08-01 09:46] mandre commented on #1857
/label platform/openstack

[2019-08-01 09:47] mandre commented on #1854
/label platform/openstack

[2019-08-01 09:47] mandre commented on #1834
/label platform/openstack

[2019-08-01 12:16] Zouuup commented on #2102
Anyone can think of a quick/dirty fix for this?

[2019-08-01 12:52] eparis commented on #2021
I started looking at what it would take to write a wrapper library around all of the libvirt calls so we can use it via dlopen.  It ain't simple. I suggest we take this and add support for a dlopen version in the future...

(I'm going to keep poking it today though)

[2019-08-01 13:04] bcrochet commented on #2006
/assign

[2019-08-01 13:07] abhinavdahiya commented on #2021
imo

I think it's going to be easier if rhhi moved away from current libvirt.. I'm not sure why you guys choose it in first place when you guys already knew it couldn't be shipped to the customers...

Anyways another option is rhhi use https://github.com/digitalocean/go-libvirt to build a libvirt terraform that doesn't need c bindings

[2019-08-01 13:37] russellb commented on #2021
happy to discuss alternatives for 4.3, but a major change like that isn't practical for 4.2

[2019-08-01 13:39] tomassedovic commented on #2006
@bcrochet I've just implemented this for OpenStack:

https://github.com/openshift/installer/pull/1959/commits/ade37f550cc2b4f26f23d1705b6a34e020a0bd5f

[2019-08-01 13:40] tomassedovic commented on #2006
oh nevermind I didn't see you've added a commit already

[2019-08-01 13:40] Zouuup opened #2136 "OpenStack:Object Service and Persistent Storage in Dashboard are not available"
# Version

[code]

# Platform:

# What happened?

After the installation, i have noticed that both "Persistent Storage" and "Object Service" are unavailable in the Dashboard.
in case Persistent Storage, it can be related to #2102 .

in case if Object Service, the name section is unavailable, provider section shows openstack and version section never loads.

# What you expected to happen?
Seeing bo

[2019-08-01 13:56] bcrochet commented on #2006
I'm taking some of what you have too... :)

[2019-08-01 15:09] eparis commented on #2021
go-libvirt uses non-stable ABI which the libvirt team has EXPLICITLY said they can, and will, break in the future.

[2019-08-01 21:30] Zouuup opened #2142 "HTTP_proxy not passed to pods"
# Version

[code]

# Platform:

# What happened?

While proxy setting passed in manifest file applied to master/worker nodes perfectly fine, it doesn't get passed to containers.
even modifying the proxy in global configuration of the console doesn't seem to have any effect. this cause problems with containers that require internet access such as openshift-cluster-version.

# What you expected to h

[2019-08-01 22:44] abhinavdahiya commented on #2142
openshift-cluster-version operator uses the proxy values when calling the internet. https://github.com/openshift/cluster-version-operator/pull/219

If the proxy isn't working open an issue on CVO's repo https://github.com/openshift/cluster-version-operator/issues/new

/close

[2019-08-01 22:44] #2142 closed

[2019-08-02 12:21] zeenix commented on #2111
I talked to @abhinavdahiya about this and seems other platforms the master machine objects provide the vcpu and mem value to terrform. So we need to do that same for libvirt. I'll look into this next week.

[2019-08-02 12:47] bcrochet commented on #2006
@russellb @stbenjam For clarification... The VIPs should be in MachineCIDR, but should not be in ClusterNetwork and Service Network. Correct?

[2019-08-02 16:22] russellb commented on #2006
sounds right

[2019-08-02 20:36] russellb commented on #2021
OK - so should we put up PRs to include a baremetal build of openshift-install for 4.2?  I don't really see any other practical way to resolve this in 4.2.

Support for dlopen sounds like a nice improvement to pursue for a future release.

[2019-08-04 01:03] bryantson opened #2150 "openshift-install should not necessary move to GOPATH and can be clearer"
The instruction to install this installer states:

"Clone this repository to src/github.com/openshift/installer in your GOPATH..."

However, the instruction can made clearer by updating two things:

1. Briefly explain at the top what this installer is for
2. Clearly that the prerequisite to install go programming language. This is mentioned as dependencies but could be made clearer
3. Modify hack/

[2019-08-04 21:51] Zouuup opened #2151 "OpenStack: openshift-kube-controller-manager: no OpenStack cloud provider config file given"
# Version

[code]

# Platform:
OpenStack

# What happened?
Cluster never deploys
`
[root@pth-mc85j-bootstrap ~]# oc get clusterversion
NAME      VERSION   AVAILABLE   PROGRESSING   SINCE   STATUS
version             False       True          3h4m    Working towards 4.2.0-0.okd-2019-08-04-161913: 82% complete
`

Kube controller manager complains about:
`
W0804 21:45:02.873991       1 plugins.go:118

[2019-08-05 08:53] ahrtr opened #2154 "libvirt with kvm installation failed"
# Version

[code]

# Platform:
[code]

# What happened?
[code]

# What you expected to happen?
I expected to see successful result.

# How to reproduce it (as minimally and precisely as possible)?
I just followed the guide as below,
https://github.com/openshift/installer/blob/master/docs/dev/libvirt/README.md

Note that I did not configure the NetworkManager per the guide, because the /etc/resolv.

[2019-08-05 10:12] tomassedovic commented on #1404
Should be fixed when https://github.com/openshift/installer/pull/2122 merges.

[2019-08-05 10:43] zeenix commented on #2154
That's the issue then. You must do those things for DNS etc to work.

The guide says nothing about `/etc/resolv.conf` so not sure what you mean here.

/close

[2019-08-05 10:43] #2154 closed

[2019-08-05 10:44] kshlm commented on #2112
@zeenix, I've updated the issue description. Sorry it took this long, I noticed it only late last week when I was travelling.

[2019-08-05 10:45] tomassedovic commented on #2151
/assign @Fedosin

Sorry about that! This should be solved by https://github.com/openshift/cluster-kube-controller-manager-operator/pull/275 once the release image merges.

[2019-08-05 10:47] zeenix commented on #2112
Thanks so much @kshlm, that helps a lot. I've still one question though: why can't the disks be added/remove after the cluster-creation?

No worries. :)

[2019-08-05 11:28] kshlm commented on #2112
They can be added after the creation of the cluster. `virsh attach-disk` makes it simple enough. But adding a line in the install-config file to add additional disks, compared with running as many virsh commands as required, is more simpler (for the end user of this feature).

For the previous dev setups for OCS-3.x and Openshift 3, we were using a Vagrant based environment which attached disks as

[2019-08-05 11:37] zeenix commented on #2112
Thanks @kshlm for explaining in detail. I kinda knew your usecase already but I wanted it to be all here for the record and others. :)

Fortunately, there isn't anything needed on the Terraform side. However, currently the TF config is kinda static so need to think about how to support this. If you've any ideas, that would be great.

[2019-08-05 12:09] Zouuup commented on #2151
Thanks,
after installing 4.2.0-0.okd-2019-08-05-111213, that issue seems to be half-fixed as i'm only receiving:
`
cannot initialize cloud provider, only limited functionality is available : cloud provider is not initialized
`
ideas?

[2019-08-05 12:47] Fedosin commented on #2151
Should be fixed with: https://github.com/openshift/cluster-kube-controller-manager-operator/pull/275
In the logs I see:
I0805 10:34:01.818833       1 openstack.go:300] OpenStack cloud provider was initialized using data from the secret.

[2019-08-05 13:03] atomwangnus opened #2155 "The role assignment already exists."
# Version

openshift-install-linux-4.2.0-0.nightly-2019-06-03-135056
--

[code]

# Anything else we need to know?

Enter text here.

# References

- enter text here.

[2019-08-05 13:38] Zouuup commented on #2151
thanks for the reply @Fedosin ,
no, it appears the error is:
`Aug 05 13:37:34 pth-m548v-master-1.novalocal hyperkube[2631]: E0805 13:37:34.583863    2631 openstack_instances.go:69] cannot initialize cloud provider, only limited functionality is available : cloud provider is not initialized`

running 4.2.0-0.okd-2019-08-05-111213

[2019-08-05 13:49] ahrtr opened #2157 "libvirt with kvm installation failed"
# Version

[code]

# Platform:
[code]

# What happened?
[code]

# What you expected to happen?
I expected to see successful result.

# How to reproduce it (as minimally and precisely as possible)?
I just followed the guide as below,
https://github.com/openshift/installer/blob/master/docs/dev/libvirt/README.md

# Other info
[code]

[2019-08-05 13:50] ahrtr commented on #2154
I ran int exactly the same issue after configuring NetworkManager, so just raised a new issue,
https://github.com/openshift/installer/issues/2157

[2019-08-05 13:52] abhinavdahiya commented on #2155
Please cleanup your cluster `openshift-install destroy cluster` before trying to recreate from the same state....?

[2019-08-05 14:11] zeenix commented on #2157
See if you can reach the nodes from outside. If you can't reach them at all, you likely missed the firewall settings required. If you can reach them only through IP and not hostnames, then it's likely the DNS change didn't happen (Make sure you tol the NetworkManater to reload its config).

[2019-08-05 14:20] ahrtr commented on #2157
@zeenix Thanks for the feedback.

I can ssh into both the bootstrap and master node through IP. But it did not work using hostname. I am pretty sure I configured & reloaded NetworkManager.

[2019-08-05 14:28] zeenix commented on #2157
Right, DNS is your issue. Please verify that you followed every step precisely. Just to be sure, you've to use the fully-qualified hostnames. You can find them on the DHCP leases if you look at the XML of the cluster network that Installer creates.

[2019-08-05 14:31] zeenix commented on #2157
Oh and I ended up wasting a lot of time recently when i missed the fact that both the `/etc/NetworkManager/conf.d/openshift.conf` and `/etc/NetworkManager/dnsmasq.d/openshift.conf` needs to be in place (oh and they've different content).

[2019-08-05 14:42] ahrtr commented on #2157
I just tried again, actually I could ssh into the master node using hostname as well,
[code]

The reason why I failed to ssh the node previously was that I used the wrong hostnames, which were printed out using virsh
[code]

Or

[2019-08-05 14:47] ahrtr commented on #2157
Could you please provide more detailed info on how to get the fully-qualified hostnames?

[2019-08-05 15:15] ahrtr commented on #2157
After ssh into the bootstrap node, I saw lots of error logs,

[code]

[2019-08-05 15:20] Zouuup commented on #2102
I Can confirm this is fixed with 4.2.0-0.okd-2019-08-05-111213.

[2019-08-05 15:21] Zouuup commented on #2136
I can update that ability to create persistent storage is fixed with 4.2.0-0.okd-2019-08-05-111213, but these issues (dashboard statistics) are not solved yet.
(it's quite possible that i'm not looking at right place)

[2019-08-05 15:34] zeenix commented on #2157
[code]
The `test1-rrvvl-master-0.test1.tt.testing` and `test1-rrvvl-bootstrap.test1.tt.testing` in this case are those.

[2019-08-05 16:05] dhellmann commented on #2021
Do we have a decision on what approach to take here?

[2019-08-05 16:28] stbenjam commented on #2090
It looks like all the ironic and image downloading containers are in the releases now:

[code]

How would we move it to the static pods? I think we want to ensure an ordering - right? Downloading of images needs to happen before Ironic starts, can that be controlled in MCO? Is this something we need to deal with later?

[2019-08-05 16:36] dhellmann commented on #2090
Those image names are going to be changing shortly. See https://github.com/openshift/release/pull/4623 and https://github.com/openshift/machine-api-operator/pull/370

[2019-08-05 16:42] abhinavdahiya commented on #2150
We have that include in the Description of the repository and `openshift/installer` name felt informative enough.. :)

the first line for quickstart https://github.com/openshift/installer/blob/master/README.md#quick-start links to build requirements.. what are additional are you looking here??

Go still requires the packages to build in GOPATH, so we are just following the convention.

install-con

[2019-08-05 16:42] #2150 closed

[2019-08-05 19:34] Fedosin commented on #2151
@Zouuup if we are talking about kubelet logs, then it's fine... kubelet can't initialize the provider and operates with limited functionality - it's enough for the service to do its job :)
but you're right - we shouldn't print errors in this case. on the other hand we need these messages if kube-controller-manager can't init the provider.
The only solution I see is to decrease the log level from e

[2019-08-05 19:37] #2151 closed

[2019-08-06 00:52] ahrtr commented on #2157
Thanks.

It's a little strange that the fully-qualified hostnames in my environment do not contain the domain name. They are "test1-c92ts-bootstrap" and "test1-c92ts-master-0" in my case which are exactly the same as what was printed out by "virsh list", and I couldn't ssh into them, but it works when I tried to SSH into "api.test1.tt.testing".

[code]

[2019-08-06 06:30] atomwangnus opened #2165 "OSProvisioningTimedOut on azure"
# Version

[code]

[2019-08-06 06:35] atomwangnus commented on #2155
i actually cleaned up it everytime. but current installer still same problem. so now im using https://openshift-release-artifacts.svc.ci.openshift.org/4.2.0-0.ci-2019-08-06-052810, no such issue.

dont know why..

[2019-08-06 07:28] ahrtr commented on #2157
I created a brand new VM, and tried again, and failed again. Once I configured NetworkManager to use dnsmasq and reloaded NerworkManager, then all the original nameserver entries in /etc/resolv.conf were gone, and a new record "nameserve 127.0.0.1" was added.

Afterwards, when I tried to execute "bin/openshift-install create cluster --log-level debug", then I got the following error.
[code]

[2019-08-06 08:07] jichenjc commented on #2157
I actually used the code 885a44213514c81507c62af9d7271e176baa5c05 (Aug 3) and at least I can create the vms and operators mostly online.. ( I actually omitted the NetworkManager stuff)

if you just for test purpose, I think maybe you can first avoid the installer machine's effort, maybe you can ssh to the new created machines and check whether `oc` works?

[2019-08-06 08:17] jichenjc opened #2166 "libvirt: monitoring operator not startup 24h after install"
# Version

[code]
[root@jichen-test2 installer]# bin/openshift-install version
bin/openshift-install unreleased-master-1506-g885a44213514c81507c62af9d7271e176baa5c05
built from commit 885a44213514c81507c62af9d7271e176baa5c05
release image registry.svc.ci.openshift.org/origin/release:4.2

# Platform:

# What happened?

[code]

install complete and most operators startup correctly, but
[code]

Enter

[2019-08-06 10:14] tomassedovic commented on #2136
/label platform/openstack

[2019-08-06 11:52] zeenix commented on #2166
@jichenjc Thanks for reporting this issue. In future, kindly remove the irrelevant bits from the issue template that you won't be filling/replacing.

[2019-08-06 11:57] zeenix commented on #2166
Since this happens *after* a successful install, I don't think it's likely to be an Installer issue. Please talk to [Monitoring folks](https://github.com/openshift/cluster-monitoring-operator) to get to the bottom of this. Feel free to reopen this if it turns out an Installer issue somehow after all.

[2019-08-06 11:57] zeenix commented on #2166
/close

[2019-08-06 11:57] #2166 closed

[2019-08-06 12:05] zeenix commented on #2157
Ah, it's a nested virt case. Make sure you're not bitten by the famous [CSR issue](https://github.com/openshift/installer/pull/2093). About fully-qualified domain names, you need to be on the latest git master of Installer binary for that. I only recently fixed that.

[2019-08-06 14:04] abhinavdahiya commented on #2165
Please attach the
`openshift-install --dir <> gather bootstrap --key <>`
And .openshift_install.log

[2019-08-06 15:19] atomwangnus commented on #2165
I think i know why ? im using version openshift-install unreleased-master-1518-gf4c2d73341163c893556b7a2ffb42778d68b4cfa-dirty . this version will pull images from registry.svc.ci.openshift.org.

however my id not able to pull image from here.  any way i can pull image from here ?

my id only able to pull image from quay.io

[2019-08-06 15:29] bcrochet commented on #2006
As noted in the patch that fixes this, the MachineCIDR is already checked for overlap of Cluster network and Service network. So, as long as VIP is in MachineCIDR, it cannot be in the other two.

[2019-08-06 16:14] abhinavdahiya commented on #2165
either build installer from master or download the installer from https://origin-release.svc.ci.openshift.org/#4.2.0-0.okd

/close

[2019-08-06 16:14] #2165 closed

[2019-08-06 22:31] vmisson commented on #1080
Hello,

beause of OpenStack multi-region using openshift-install directly is failing :
[code]

A install-config.yaml.example file will be really useful.

[2019-08-06 23:29] abhinavdahiya commented on #2155
/close

[2019-08-06 23:29] #2155 closed

[2019-08-07 00:57] ahrtr commented on #2157
It's exactly what I am doing right now (I mean ignoring the NetworkManager/DNS configuration), and it took a long time for majority of the operators/PODS to be running, and both kubectl & oc work now. It seems that I ran into the same issue as [1428](https://github.com/openshift/installer/issues/1428). But the worker node did not get created, and the bootstrap node did not get destroyed as expecte

[2019-08-07 04:18] jichenjc commented on #2166
thanks, I will pay attention to the format later
and I will open an issue for monitor after further analysis on my system

[2019-08-07 07:32] ahrtr commented on #2157
I tried again on a physical machine instead of a VM, and it's much better now. Both master node and work node were created, and the bootstrap node was destroyed as expected. But the installation script still failed in the end,

[code]

# Version
$ bin/openshift-install version
bin/openshift-install unreleased-master-1527-gdd407b0351339ec5fec540c82ecd556ec0dcb98c
built from commit dd407b0351339ec5f

[2019-08-07 08:23] tomassedovic commented on #1080
Hey @vmisson, sorry about the long delay! We're working on adding better documentation right now as well making OpenStack a supported platform and enabling in the interactive installer.

We're down to these pull requests:

1. https://github.com/openshift/installer/pull/1959
1. https://github.com/openshift/installer/pull/2148 (in progress)
1. https://github.com/openshift/installer/pull/2036

In the

[2019-08-07 12:23] stbenjam commented on #2021
@eparis @abhinavdahiya Anything I can do to help move this forward? I opened https://github.com/openshift/release/pull/4640 to build a baremetal-installer container like we do for other platforms, is that an acceptable approach for 4.2? How do we get it included with the release?

[2019-08-07 12:29] vmisson commented on #1080
Thanks for your feedback @tomassedovic. I'm now able to provision resources on my OpenStack.

I still have an issue during boot of the instance as my Swift is in https but using a "private" certificate. Any idea ?

[2019-08-07 14:35] tomassedovic commented on #1080
Right, we're aware of the issue, but we don't have a fix yet, sorry!

There's a BZ entry here that may have some more info: https://bugzilla.redhat.com/show_bug.cgi?id=1735192

It sounds like there may be a potential workaround hidden there, but no one's really tried this yet AFAIK. I believe Emilio was going to have a look later so:

/assign @iamemilio

[2019-08-07 15:32] vmisson commented on #1080
Thanks for the feedback @tomassedovic
@iamemilio let me know if I can help you, I have a platform ready to test your fix

[2019-08-07 15:53] #2063 closed

[2019-08-07 15:56] adambkaplan opened #2172 "Document tags/naming conventions used by Terraform for teardown"
# Version
v4.2.0

[code]

# Platform:

All

# What happened?

There's been a bit of churn on what is expected of resources created/provisioned by cluster operators for teardown via Terraform to work properly (for UPI clusters).

See:
1. https://github.com/openshift/cluster-image-registry-operator/pull/352
2. https://github.com/openshift/cluster-image-registry-operator/pull/347

# What you expected

[2019-08-07 18:24] depohmel opened #2176 "Azure, Linux, Cluster creation failed in westus region"
# Version

[code]

# Platform:

# What happened?
[code]

# What you expected to happen?

I expect cluster to be created :)

# How to reproduce it (as minimally and precisely as possible)?

create a install-config for Azure and westus region
then create a cluster

[code]

[2019-08-08 00:20] ahrtr commented on #2157
It seems that the secret "alertmanager-main-tls" required by POD alertmanager-main-0 doesn't exist.

[code]

[2019-08-08 02:33] ahrtr commented on #2157
Based on the definition of deployment "etcd-quorum-guard", the replica is 3, and the 3 PODs should be running on different master node. So there should be at least 3 master node, otherwise 2 PODs will always be in "Pending" status?

And there should be at least 2 worker node, because two replicas of deployment "deployment router-default" must be running on different worker nodes.

Since it's just

[2019-08-08 09:31] sunilhsk opened #2179 "Openshift 4.1 baremetal, after adding RHEL 7.6 nodes to cluster, not able to login to master. Error : EOF."
# Version

[code]

# Platform:

# What happened?

Enter text here.
See [the troubleshooting documentation](https://github.com/openshift/installer/blob/master/docs/user/troubleshooting.md) for ideas about what information to collect.
For example, if the installer [fails to create resources](https://github.com/openshift/installer/blob/master/docs/user/troubleshooting.md#installer-fails-to-create-res

[2019-08-08 11:23] zeenix commented on #2157
That's a very different issue now so please file a different one, unless there already is one (I think there is).

Did you check the CSR on the VM? That's the only needed info right now here.

[2019-08-08 11:25] zeenix commented on #2157
Although that's no longer needed if you create a new cluster now. But try reproducing the issue again on the VM and if you can still reproduce the original issue, please check the CSR to be sure.

[2019-08-08 13:29] abhinavdahiya commented on #2172
Terraform is NOT used for destroying cluster.

Each platform has a different way _because of platform limitation_ of keeping track for destroy cluster.

[2019-08-08 13:30] abhinavdahiya commented on #2176
Please used the latest master build if you are following the master docs.

https://github.com/openshift/installer/blob/master/README.md#quick-start

/close

[2019-08-08 13:31] #2176 closed

[2019-08-08 13:31] abhinavdahiya commented on #2179
Can you provide details for this bug??

What process did you follow?

[2019-08-08 14:08] juliakreger commented on #2064
@dhellmann FYI

[2019-08-08 14:09] juliakreger commented on #2037
@dhellmann FYI

[2019-08-08 14:18] adambkaplan commented on #2172
@Fedosin can you comment on what Terraform is being used for with OpenStack?

[2019-08-08 14:23] tomassedovic commented on #2172
@adambkaplan I don't have the context here, but it should be the same as any other IPI platform: initial cluster creation and removal of the bootstrap server.

Cluster destroy uses go code.

[2019-08-08 15:35] #2006 closed

[2019-08-08 15:36] depohmel commented on #2176
hm.... @aaronlevy  good old RTFM answer. Have not seen this for a while.

I'm not using master... I was using this official documentation https://cloud.redhat.com/openshift/install/azure/installer-provisioned  which has links to `master` build. Could you please file an internal RedHat ticket to fix official documentation? Or at least notify users that this is a master pre-release thing.

[2019-08-08 16:13] fctoibm opened #2183 "Vsphere terraform deployment fail"
# Version

[code]

[2019-08-08 19:55] cybertron commented on #2065
DNS VIP is now included in the platform: https://github.com/openshift/installer/blob/b50a68e4b891800ed4823dbf81b21b501ab3c213/pkg/types/baremetal/platform.go#L68

This can be closed.

[2019-08-08 21:28] christianh814 opened #2187 "Identity and Access Management (IAM) API has not been used in project"
# Version

[code]

# Platform:
GCP

# What happened?

Fails to create resources...

[code]

# What you expected to happen?

In the [doc](https://github.com/openshift/installer/blob/master/docs/user/gcp/) it should be stated that that API needs to be enabled

# How to reproduce it (as minimally and precisely as possible)?

Try following the [directions](https://github.com/openshift/installer/blob/m

[2019-08-08 21:37] abhinavdahiya commented on #2183
try using terraform 0.11, we don't yet support 0.12.

[2019-08-08 21:41] abhinavdahiya commented on #2187
How did you create a service account to provide to the installer when IAM apis were disabled?

can you provide the entire `.openshift_install.log`

[2019-08-08 21:42] abhinavdahiya commented on #2187
/label platform/google

[2019-08-08 21:48] christianh814 commented on #2187
From a high level, this is what I did...

[code]
When I did a `gcloud init` I just logged into my gcp account with my gmail. One thing to note is that after I created the project, I logged into the web UI to delegate a subdomain (not sure if that made a difference)

Unfortunately I've already enabled it and moved ahead with the installation so I removed this file =\

[2019-08-09 03:08] ahrtr opened #2190 "Web Console is broken"
# Version
$ bin/openshift-install version
bin/openshift-install unreleased-master-1527-gdd407b0351339ec5fec540c82ecd556ec0dcb98c-dirty
built from commit dd407b0351339ec5fec540c82ecd556ec0dcb98c
release image registry.svc.ci.openshift.org/origin/release:4.2

# Platform
libvirt

# What happened
The web console was working well in the begining, but it doesn't work now and I did nothing in between.

P

[2019-08-09 03:12] ahrtr commented on #2157
I assigned more memory and CPU for the master node, and it's working now.

[2019-08-09 04:03] abhinavdahiya commented on #2190
/label platform/libvirt

[2019-08-09 05:50] #2187 closed

[2019-08-09 07:55] sander53134512 opened #2193 "Openshift azure -> authorization problem (role?)"
# Version

**4.2.0-0.nightly-2019-06-03-135056**
https://mirror.openshift.com/pub/openshift-v4/clients/ocp/4.2.0-0.nightly-2019-06-03-135056/
# Platform:

AZURE

# What happened?

**RROR Error: authorization.RoleAssignmentsClient#Create: Failure responding to request: StatusCode=403 -- Original Error: autorest/azure: Service returned an error. Status=403 Code="AuthorizationFailed" Message="The cli

[2019-08-09 09:47] DanyC97 commented on #2183
@fctoibm it will be supported once https://github.com/openshift/installer/pull/2057 will be merged, for now is on hold until 4.2 is released

[2019-08-09 10:04] zeenix commented on #2157
I understand. I'll close this for now then. Please let us know if you can reproduce the original issue and we can reopen it for you.

/close

[2019-08-09 10:04] #2157 closed

[2019-08-09 15:56] russellb commented on #2065
/close

[2019-08-09 15:56] #2065 closed

[2019-08-09 16:49] abhinavdahiya commented on #974
I don't think the installer is going to move ahead on performing DNS checks for the console. Those don't provide a whole lot of value.

/close

[2019-08-09 16:49] #974 closed

[2019-08-09 17:10] donghwicha opened #2199 "Enhancement: downloading all files before installation"
# Version
N/A

# Platform:
To all

# What you expected to happen?
Stable installation

# Enhancement
Hi. This is just small suggestion. I am testing OCP4 using installer, but I noticed that all steps includes downloading file. before bootstrap, during bootstrap, and after bootstrap.

I hope downloading files can be done before bootstrap and files can be uploaded via SSH.

If download is slow tempo

[2019-08-09 19:23] donghwicha commented on #1928
Hi. sorry to re open but I'm also experiencing almost same error.

openshift-install wait-for install-complete

time="2019-08-10T03:04:43+08:00" level=debug msg="Still waiting for the cluster to initialize: Some cluster operators are still updating: authentication, console"
time="2019-08-10T03:15:24+08:00" level=debug msg="Still waiting for the cluster to initialize: Some cluster operators are sti

[2019-08-09 19:36] donghwicha commented on #1928
here is log of credential operator

time="2019-08-09T19:31:45Z" level=debug msg="set ClusterOperator condition" message="No credentials requests reporting errors." reason=NoCredentialsFailing status=False type=Degraded
time="2019-08-09T19:31:45Z" level=debug msg="set ClusterOperator condition" message="0 of 0 credentials requests provisioned and reconciled." reason=ReconcilingComplete status=False

[2019-08-09 19:38] donghwicha commented on #1928
and console log

2019/08/9 19:33:12 cmd/main: cookies are secure!
2019/08/9 19:33:12 auth: error contacting auth provider (retrying in 10s): Get https://172.30.0.1:443/.well-known/oauth-authorization-server: dial tcp 172.30.0.1:443: connect: connection refused
2019/08/9 19:33:22 auth: error contacting auth provider (retrying in 10s): request to OAuth issuer endpoint https://oauth-openshift.apps.te

[2019-08-09 19:58] donghwicha commented on #1893
Hi. For human like me who has no idea what's is going on in this thread,
Please check link below.

https://github.com/openshift/installer/tree/release-4.2/docs/dev/libvirt#console-doesnt-come-up

[2019-08-09 20:01] donghwicha commented on #1928
it turned out that this comment is what I can follow.

[2019-08-09 21:05] donghwicha commented on #1007
Hi. I did the same but still error persist.
Do I need to debug installer? or would there be any other pointer?

time="2019-08-10T04:47:10+08:00" level=debug msg="Still waiting for the cluster to initialize: Multiple errors are preventing progress:\n* Could not update servicemonitor \"openshift-apiserver-operator/openshift-apiserver-operator\" (417 of 422): the server does not recognize this resour

[2019-08-09 21:42] abhinavdahiya commented on #2199
Can you please elaborate which files are you pointing to?

[2019-08-09 21:49] abhinavdahiya commented on #2193
The client 'x' with object id 'y' does not have authorization to perform action 'Microsoft.Authorization/roleAssignments/write' over scope '/subscriptions/x/resourceGroups/openshift-automatic-i-zzn7x-rg/providers/Microsoft.Authorization/roleAssignments/89f8d0d8-9fc0-53fa-2dc2-0ac18f9a4b92' or the scope is invalid.

https://github.com/openshift/installer/blob/master/docs/user/azure/credentials.md#s

[2019-08-10 00:58] ahrtr commented on #2190
Feel free to let me know if any further info is needed.

[2019-08-10 10:34] donghwicha commented on #2199
All files downloaded.

[2019-08-10 13:23] wking commented on #2199
Can you provide filenames?  We're not sure which ones you're talking about.

[2019-08-10 14:30] #2199 closed

[2019-08-11 22:21] davis-jacob opened #2202 "UPI vSphere - Kubernetes API: connection refused"
# Version

openshift-install v4.1.8-201907241243-dirty
built from commit e8d7e37ea7655522ac8f6ede471fd1d3ebd1bcba
release image quay.io/openshift-release-dev/ocp-release@sha256:3ea2648231035c1a65e8d91fa818bb225a2815bc0d6abfc35063a11eaba8659f
[code]

[2019-08-12 04:44] Sarang-Sangram commented on #1397
@ssbano How are you adding this piece in the xml file ?
`<forwarder domain='apps.jaguar.fsbano.io' addr='192.168.x.x'/>`

[2019-08-12 09:04] #2202 closed

[2019-08-12 09:08] zeenix commented on #1007
@donghwicha Your issue is unrelated to this one.

[2019-08-12 09:11] zeenix commented on #2190
@ahrtr how much time had passed between cluster initialization and this issue?

[2019-08-12 13:51] ahrtr commented on #2190
@zeenix It should be more than at least 16 hours.

The timeline was roughly as below,
1. The cluster was initialized successfully at 4 PM on Aug. 8th;
2. I deployed & un-deployed a simple "hello world" POD in the cluster using "kubectl create -f xxx.yaml" successfully in the same afternoon (at about 4:30 PM?).
3. Two members in the team tried to login into the Web Console in the next morning (Aug.

[2019-08-12 14:29] davis-jacob opened #2204 "Container network not ready"
# Version

openshift-install v4.1.8-201907241243-dirty
built from commit e8d7e37ea7655522ac8f6ede471fd1d3ebd1bcba
release image quay.io/openshift-release-dev/ocp-release@sha256:3ea2648231035c1a65e8d91fa818bb225a2815bc0d6abfc35063a11eaba8659f

# Platform:
 (UPI) , vSphere

# What happened?
The following command created the VMs (3 compute ,3 control and 1 bootstrap) from the ignition and all are boo

[2019-08-12 14:52] eparis commented on #2021
closing because we merged 4640.

[2019-08-12 15:21] iamemilio commented on #1080
Ill keep you in the loop. I'm going to start working on a patch for it today!

[2019-08-12 15:32] russellb commented on #2021
does that actually include the installer build in the release image?  or just have it get built in CI?

[2019-08-12 15:41] stbenjam commented on #2021
My understanding is no, but I couldn’t find any more info other than the `oc` code @markmc linked to above. We could ask on ART slack.

[2019-08-12 16:22] abhinavdahiya commented on #2204
can provide us the

1) `openshift-install --dir ~/vshpere gather bootstrap` ?
2) `oc adm must-gather`

[2019-08-12 16:41] davis-jacob commented on #2204
[log-bundle.tar.gz](https://github.com/openshift/installer/files/3493481/log-bundle.tar.gz)

Couldn't get the openshift install logs due to this error.
ERROR Cannot fetch the bootstrap and control plane host addresses from state file for vsphere platform

However attached is the cluster logs.
OC commands do not work

[2019-08-12 16:45] abhinavdahiya commented on #2204
that's expected as the installer did not create your cluster. provide it the gather bootstrap command the ip adresses to you bootstrap-host and control-plane-hosts.

`openshift-install gather bootstrap --help`

the one you attached doesn't have logs from the control-plane...

[2019-08-12 17:01] davis-jacob commented on #2204
[log-bundle.tar.gz](https://github.com/openshift/installer/files/3493533/log-bundle.tar.gz)

This is all I get even after giving three of my control-plane

openshift-install gather bootstrap --dir ~/ocp41-v8/ --bootstrap 20.0.9.34 --master [20.0.9.35,20.0.9.36,20.0.9.37] --log-level debug

[2019-08-12 17:03] abhinavdahiya commented on #2204
`openshift-install gather bootstrap --dir ~/ocp41-v8/ --bootstrap 20.0.9.34 --master 20.0.9.35 --master 20.0.9.36 --master 20.0.9.37 --log-level debug`

[2019-08-12 17:07] davis-jacob commented on #2204
[log-bundle.tar.gz](https://github.com/openshift/installer/files/3493555/log-bundle.tar.gz)

INFO ssh -A core@20.0.9.34 '/usr/local/bin/installer-gather.sh 20.0.9.35 20.0.9.36 20.0.9.37'
INFO scp core@20.0.9.34:~/log-bundle.tar.gz .

Thank you

[2019-08-12 17:21] davis-jacob commented on #2204
@abhinavdahiya is that log bundle good enough ?

[2019-08-12 17:57] russellb commented on #2021
OK, I'd like to reopen this until we confirm that there's a baremetal build of the installer in a release image.

[2019-08-12 18:16] stbenjam commented on #2021
I think this is what we need: https://github.com/openshift/oc/pull/52

[2019-08-12 18:16] stbenjam commented on #2021
From Slack regarding the oc solution:

[code]

[2019-08-12 20:35] abhinavdahiya commented on #2204
the control-plane dir is empty. So it looks like the control plane machines aren't reachable over ssh with the same key as the bootstrap or your ssh-agent doesn't have the right set of keys..

`ssh -A core@20.0.9.34 '/usr/local/bin/installer-gather.sh 20.0.9.35 20.0.9.36 20.0.9.37'`
^^ what's the output when you run the command?

the bootstrap-host is waiting for etcd cluster to start on the contr

[2019-08-13 04:55] oybed opened #2208 "OpenStack: API service VM is not launched/created"
# Version

[code]

# Platform:

openstack

# What happened?
Following the experimental support for OpenStack, there should be a 'service VM' being launched to provide API LB access. This does not happen when using the above mentioned commit id (latest?). When downloading the `openshift-install` from the [latest mirror](https://mirror.openshift.com/pub/openshift-v4/clients/ocp/latest/) it works fin

[2019-08-13 09:07] sander53134512 commented on #2193
https://github.com/openshift/installer/blob/2535155c04539ffe6bb898bcb2e65c2d9c57ec1b/docs/user/azure/install.md

Is it important that I use exactly the same names?
Because I get this error:

**sander@Azure:~$ az storage account create --location centralus --name os4storage --kind StorageV2 --resource-group rhel-images-RG**
The storage account named os4storage is already taken.

**sander@Azure:~$ a

[2019-08-13 11:32] davis-jacob commented on #2204
^^ what's the output when you run the command?

Warning: Permanently added '20.0.9.34' (ECDSA) to the list of known hosts.
Gathering bootstrap journals ...
Gathering bootstrap containers ...
Gathering rendered assets...
Gathering cluster resources ...
error: the server doesn't have a resource type "pods"
error: the server doesn't have a resource type "nodes"
error: the server doesn't have a resour

[2019-08-13 14:00] oybed commented on #2208
Well, so it seems that this is intentional per PR https://github.com/openshift/installer/pull/1959 ... so the [(experimental) docs for OpenStack](https://github.com/openshift/installer/blob/master/docs/user/openstack/README.md) should be updated to reflect this.

[2019-08-13 14:59] sander53134512 commented on #2193
Also. I added the permissions, this didn't change the error

[2019-08-13 17:21] hardys opened #2210 "baremetal: add validation of Provisioning network values"
From https://github.com/openshift/installer/pull/2079 we need to add validation to ensure that BootstrapProvisioningIP and ClusterProvisioningIP do not overlap with any of the other defined subnets e.g machineCIDR etc.

Raising this to track this gap such that we can hopefully propose this additional validation as a follow-up

[2019-08-13 17:21] hardys commented on #2210
/label platform/baremetal

[2019-08-13 20:28] #2037 closed

[2019-08-13 20:28] #2064 closed

[2019-08-13 22:05] abhinavdahiya commented on #2204
E0813 09:14:45.084309       1 run.go:63] error looking up self: could not resolve member "etcd-0."
I0813 09:15:15.085784       1 run.go:134] checking against etcd-0.
E0813 09:15:15.086664       1 run.go:63] error looking up self: could not resolve member "etcd-0."
I0813 09:15:45.085437       1 run.go:134] checking against etcd-1.
E0813 09:15:45.086282       1 run.go:63] error looking up self: coul

[2019-08-14 11:03] zeenix commented on #2190
@ahrtr Thanks for the detailed information. One more question: You're certain nothing changed wrt networking during this time? Firewall etc?

[2019-08-14 12:36] pierreprinetti opened #2215 "Build script fails when Go modules are ON"
# Version

`master` on `8f972b45987a32cc91bc61c39a727e9a1224693d`

# Platform:
Go 1.12.7 on Fedora 30

# What happened?

[code]

[code]

# What you expected to happen?

The command should have built the installer. Instead, it fails.

Go list is not behaving as expected in a `GO111MODULE=on` environment:
https://github.com/openshift/installer/blob/8f972b45987a32cc91bc61c39a727e9a1224693d/hack/build

[2019-08-14 12:47] ahrtr commented on #2190
@zeenix Yes, I am pretty sure that I changed nothing before I saw the issue.

I destroyed the cluster yesterday, and then created a new cluster, but I did not reproduce this issue so far.

[2019-08-15 12:38] dprince commented on #2208
I think this may be a case where we just need to update the docs and expectations. During the last sprint the service VM requirement was removed (as you mentioned in the PR #1959).

[2019-08-16 01:38] oybed commented on #2208
/label platform/openstack

[2019-08-16 10:16] ppitonak commented on #2102
Works with 4.2.0-0.ci-2019-08-16-001726

[2019-08-16 12:45] lukas-vlcek commented on #1562
I am running into similar issue but I am unable to find my domain in **Hosted zones** list so I can not delete it in AWS console. Am I looking into wrong dashboard?

[2019-08-16 15:18] abhinavdahiya commented on #2215
I'm a little confused, did you clone the repo to $GOPATH/src/github.com/openshift/installer ??

[2019-08-16 20:03] oybed opened #2225 "tf ignition provider does not support the use of a custom CA"
# Version

[code]

# Platform:
openstack (although not necessarily OSP related)

# What happened?
The [ignition provider](https://www.terraform.io/docs/providers/ignition/index.html) for Terraform only supports ignition 2.1.0 (see output below). This version does not support using custom CAs to validate the ignition append URL (v2.2.x of ignition does). This means that ignition fails to download t

[2019-08-16 20:08] pierreprinetti commented on #2215
I did clone to that path. But on my system, I export GO111MODULE=on in my environment. To be clear, it’s in my .bash_profile
. Have you tried running this line, to reproduce the error?

GO111MODULE=on sh ./hack/build.sh

Until the moment this openshift/installer converts to using Go modules, it might be useful to explicitly set GO111MODULE=off in the hack/build.sh (esp. for settings like mine). Th

[2019-08-16 20:41] pierreprinetti commented on #2215
I have edited the issue for clarity, I hope it helps.

[2019-08-16 23:21] rphillips commented on #2215
Exporting GO111MODULE=on globally turns this on everywhere. You wouldn't necessarily want to turn this on for all projects in the GOPATH, which is why it is off by default, and enabled for projects outside of the GOPATH. Perhaps the recommendation would be to set GO111MODULE=on per project?

[2019-08-17 09:09] pierreprinetti commented on #2215
This is indeed a requirement that is not listed in the README: that environment variable has to be off or unset. We have two solutions to avoid showing a confusing error message:
* either we add this new requirement to the README
* or [we do the job ourselves](https://github.com/openshift/installer/pull/2216) by setting `export GO111MODULE=off` in the build script.

The reasons that make me prefer

[2019-08-17 19:32] donghwicha commented on #1007
thanks. I fixed already.

[2019-08-19 08:00] ppitonak opened #2229 "OpenStack: using wrong IP when gathering debug logs"
# Version

[code]

# Platform:

OpenStack 13

# What happened?

Installation failed because I forgot to update DNS records (expected) and then the installer tried to ssh to bootstrap node to get debug logs which failed:

[code]

The issue is that `172.16.0.16` is and IP address from internal network created by installer, the node had a floating IP `10.0.79.177` which was assigned by installer for

[2019-08-19 10:23] zeenix commented on #2190
@ahrtr Oh ok, since it's been 5 days of that. I'll close this for now.

/close

[2019-08-19 10:23] #2190 closed

[2019-08-19 13:07] ppitonak opened #2230 "OpenStack: Nameserver limits were exceeded, some nameservers have been omitted"
# Version

[code]

# Platform:

OpenStack 13

# What happened?

During a new cluster installation when the installer is still waiting for the cluster to initialize (`DEBUG Still waiting for the cluster to initialize: Working towards 4.2.0-0.ci-2019-08-19-054234: 80% complete`), watch for event (`oc get events -w -A`)

There are a lot of warnings similar to these:

[code]

When I ssh to a master no

[2019-08-19 14:05] e-minguez opened #2231 "[RFE] Increase baremetal timeout"
# Version

[code]

# Platform:
baremetal

# What happened?
30 minutes seems very tight for baremetal platforms as the inspection, reboot, image pulls, etc. takes a while

# What you expected to happen?
Baremetal install timeouts are increased or can be configured

# How to reproduce it (as minimally and precisely as possible)?
Run a `dev-scripts` deployment on baremetal

# Anything else we need to

[2019-08-19 14:05] stbenjam commented on #2231
/label platform/baremetal

[2019-08-19 14:06] debianmaster commented on #1287
+1

[2019-08-19 14:24] hardys opened #2232 "baremetal: startironic.sh uses the wrong route IP for CACHEURL"
In baremetal environments the default route often points to an external router, e.g something like:

[code]

This means the logic here doesn't work as desired:

https://github.com/openshift/installer/blob/master/data/data/bootstrap/baremetal/files/usr/local/bin/startironic.sh.template#L76

We need to filter the routes by PROVISIONING_NIC to ensure we get the IP of the provisioning network bridge o

[2019-08-19 18:46] lydodg opened #2235 "Azure Dev Preview Deploy - RH CoreOS Image Missing"
Walking through the docs at https://github.com/openshift/installer/blob/master/docs/user/azure/install.md, when I run the ./openshift-install create cluster, i'm getting the error that the rh coreos images aren't found. The relevant manual steps were removed (https://github.com/openshift/installer/commit/08512ca3f6ac27db25291279e00090b4169b1d8f#diff-44f2bc53bc2b130c5ee8e861fc8bb93a).

What's the w

[2019-08-19 18:53] stbenjam commented on #2231
Just to add some more details, there are 3 time outs:

- `Waiting up to 30m0s for the Kubernetes API`
- `Waiting up to 30m0s for bootstrapping to complete`
- `Waiting up to 30m0s for the cluster`

Downloading the RHCOS image does take a while, but it happens unconstrained by any time limitation.  Bootstrap downloads images during terraform apply because we don't proceed until Ironic is up, and Iro

[2019-08-19 21:53] lydodg commented on #2235
can close - see this is addressed on the other doc branch on images - https://github.com/openshift/installer/blob/2535155c04539ffe6bb898bcb2e65c2d9c57ec1b/docs/user/azure/install.md

[2019-08-19 21:53] #2235 closed

[2019-08-19 23:27] heatmiser opened #2237 "openshift-install for Azure, "authorizer" file already present and incorrect"
# Version

[code]

# Platform:
azure

# What happened?

Using the installer for an Azure deployment:

./openshift-install create install-config --log-level debug
...proceed through SSH Public Key step, then select Azure...
? Platform azure
FATAL failed to fetch Install Config: failed to fetch dependency of "Install Config": failed to fetch dependency of "Base Domain": failed to generate asset "Pla

[2019-08-20 02:30] asalkeld commented on #2237
/assign

[2019-08-20 02:31] asalkeld commented on #2237
@heatmiser thanks for reporting this, I just ran into the same issue. I'll post a PR to at least provide a log and better error message.

[2019-08-20 08:11] mandre commented on #2230
/label platform/openstack

[2019-08-20 08:14] mandre commented on #2229
/label platform/openstack

[2019-08-20 08:14] mandre commented on #2229
This should be fixed by https://github.com/openshift/installer/pull/2212

[2019-08-20 08:44] mandre commented on #2225
Related feature request in the terraform ignition provider issue tracker: https://github.com/terraform-providers/terraform-provider-ignition/issues/42

[2019-08-20 09:01] mandre commented on #2208
Thanks, I'm going to close this as the docs were refreshed in https://github.com/openshift/installer/pull/2218 and should not mention the service VM anymore.

[2019-08-20 09:03] mandre commented on #2208
/close

[2019-08-20 09:03] #2208 closed

[2019-08-20 09:07] mandre commented on #2102
/close

[2019-08-20 09:07] #2102 closed

[2019-08-20 09:10] mandre commented on #1854
/close

With #1959 we've removed the service VM that was causing the back and forth.

[2019-08-20 09:10] #1854 closed

[2019-08-20 09:14] mandre commented on #1081
https://github.com/openshift/installer/pull/2132 should address this RFE.

[2019-08-20 10:27] e-minguez commented on #2231
Running latest dev-scripts in a 3 masters baremetal environment, the step 06 takes ~1h:

[code]

WRT reboots I believe there are at least 3 reboots:

- First one to boot ironic ipa image that will write the RHCOS image
- First RHCOS boot (where ignition is triggered)
- After applying the final RHCOS image/machineconfigs

[code]

[2019-08-20 10:59] Rikbruggink opened #2241 "Openshift 4.2 with proxy enabled : cant deploy images from internal registry"
# Version

[code]

# Platform:

None

# What happened?

cant deploy using the internal registry because there is no no_proxy for .svc default.
# What you expected to happen?

# How to reproduce it (as minimally and precisely as possible)?

Install openshift 4.2 with proxy enabled and deploy default jenkins empheral template

# Anything else we need to know?

No not at this time

[2019-08-20 11:00] Rikbruggink commented on #2241
/label proxy

[2019-08-20 14:23] iamemilio commented on #2225
https://bugzilla.redhat.com/show_bug.cgi?id=1735192

[2019-08-20 15:54] #2232 closed

[2019-08-20 18:09] abhinavdahiya commented on #2241
Try opening an issue on https://github.com/openshift/cluster-network-operator/issues as the NoProxy default list is maintained for cluster by the operator. Thanks!

/close

[2019-08-20 19:14] mandre opened #2243 "OpenStack: long hostnames may prevent mdns from working properly"
When deploying on OpenStack, for nodes where the hostname is too long -- when giving a long enough cluster name -- the mdns-publisher pod will fail with the following error:
[code]

There is a hard limit on 64 characters. In this example the service name ends up being `preserve-wjosp0820mh Workstation-preserve-wjosp0820mh-q82sf-master-0` after we apply the hostname-based collision avoidance, which

[2019-08-20 19:14] mandre commented on #2243
/label platform/openstack

[2019-08-20 21:58] abhinavdahiya commented on #2241
/close

[2019-08-20 21:58] #2241 closed

[2019-08-21 05:36] asalkeld commented on #2193
/label platform/azure

[2019-08-21 05:39] asalkeld commented on #2237
/label platform/azure

[2019-08-21 10:44] celebdor commented on #2243
I would really recommend not prepending the cluster name to the node name. master-0.clustername.domainname is a much better fqdn for a node than clustername-master-0.clustername.domainname

[2019-08-21 12:04] davis-jacob commented on #2204
Thank you so much @abhinavdahiya  , you were right my DNS entries were messed for the etcd

[2019-08-21 12:04] #2204 closed

[2019-08-22 00:23] magick93 opened #2250 "quick start questions"
Hello

I have a few, hopefully simple, questions.

In the readme, there is a section titled **Quick Start**. Is this for quickly starting development on this project? Or is this for using the openshift installer? I'm asking as I just want to use the installer, and would prefer to not have to install go and terraform, if possible.

Do I need to build from source, and thus install go and terraform?

[2019-08-22 06:40] hardys commented on #2060
Closed via #2079

[2019-08-22 06:40] #2060 closed

[2019-08-22 06:41] hardys opened #2251 "baremetal: Ironic bootstrap services should run as a staticpod"
It has been noted in https://github.com/openshift/installer/pull/2249 that the ironic services currently enabled via a systemd unit and start/stop scripts should probably be migrated to a staticpod definition.

Raising this to keep track of this, and I'll investigate then follow up with a PR to address this.

[2019-08-22 06:41] hardys commented on #2251
/label platform/baremetal

[2019-08-22 06:42] hardys commented on #2251
/assign

[2019-08-22 06:49] hardys commented on #2038
@markmc just tidying up platform/baremetal issues, this was closed via #2119 I believe?

[2019-08-22 07:06] hardys commented on #2090
@stbenjam I raised https://github.com/openshift/installer/issues/2251 to investigate how we migrate to staticpods, I'm unclear if MCO Is an option since we only want this to run on the boostrap VM?

I know @cybertron did the work to move the DNS services (which do have a slightly different configuration on the bootstrap VM) to MCO, perhaps he can provide some pointers before we dig into it.

[2019-08-22 07:35] markmc commented on #2038
And openshift/installer#2075 - good point

[2019-08-22 07:35] #2038 closed

[2019-08-22 11:01] derekhiggins commented on #2251
This came about when we had problems with ironic containers https://github.com/openshift-metal3/dev-scripts/issues/753

digging into it a little the podman containers are getting deleted by the crio service

[code]

crio attempts to load the containers started by podman and fails, it then deletes them
https://github.com/cri-o/cri-o/blob/278995c/server/server.go#L208

crio is getting restarted by a

[2019-08-22 11:30] rhatdan commented on #2251
@mrunalp @umohnani8 @haircommander Probably should not do that...

[2019-08-22 13:32] haircommander commented on #2251
@derekhiggins, the line you tagged in server.go will not effect podman containers (they've been filtered out by that point). However, the `systemctl restart cri-o.service` call will `crio-wipe.service` and wipe the whole storage (podman and cri-o). I have a fix in flight, such that crio-wipe will only clear the storage used by cri-o.

[2019-08-22 13:43] derekhiggins commented on #2251
The crio command I've pasted above (with --log-level debug) shows that the podman container hasn't been filtered out, see
`could not restore container 3c182da7d9e149dc75c6f1aa58ae3669659623162acaac98d165e341de8f22de`

I've run this while watching crio-wipe, the service is restarted when crio is restarted but I've only observed it effecting the storage the first time its run,

[2019-08-22 13:55] haircommander commented on #2251
`crio-wipe` will only run the first time. It expects a version file at `/usr/libexec/crio/version`, and will clear storage if that version is out of date (or doesn't exist). when cri-o starts up, it lays down a version file, so further restarts won't clear.

[2019-08-22 14:50] derekhiggins commented on #2251
So just to clarify, your agreeing with me? Its not crio-wipe that is causing this problem, cri-o is what is removing the podman containers?

[2019-08-22 14:53] haircommander commented on #2251
I wasn't agreeing with you earlier, but I've since thought about it more and it does seem like cri-o is deleting podman containers. I'll look into it, what container are you using?

[2019-08-22 14:55] haircommander commented on #2251
and what versions of cri-o and podman?

[2019-08-22 15:22] derekhiggins commented on #2251
podman-1.4.2-1.module+el8.1.0+3423+f0eda5e0.x86_64
cri-o-1.14.10-0.3.dev.rhaos4.2.gitb5c74ef.el8.x86_64

Thanks, the containers where we noticed this are started by startironic.sh (we intend to move these to a static pod in future)
https://github.com/openshift/installer/blob/master/data/data/bootstrap/baremetal/files/usr/local/bin/startironic.sh.template

[2019-08-22 15:25] cybertron commented on #2090
Yeah, we have separate networking service configs for bootstrap, so it should be possible. You can see the change I made to do that in https://github.com/openshift/machine-config-operator/commit/ec7ef01587296e2ba4ab5f21909d3bc88eddee6c

Note in particular that bootstrap pod definitions go in manifests/. We also have some in templates/, but those are for the masters and workers.

As far as ordering

[2019-08-22 18:06] iamemilio commented on #1080
This is a Terraform bug, and so we will probably be unable to address it in 4.2. Please see the following bugzilla for more info: https://bugzilla.redhat.com/show_bug.cgi?id=1735192

Instead, we will be working on creating user documentation to help customers work around the issue for the time being.

[2019-08-22 18:09] iamemilio commented on #1080
priority/important-longterm

[2019-08-22 18:16] iamemilio commented on #1080
Closing, the initial issue has been resolved. Tracking the Certs bug in bugzilla. See former comment for more details.

[2019-08-22 20:59] #1047 closed

[2019-08-22 22:04] mca7267 commented on #2183
Terraform v0.11.12 doesn't seem to work either. When I run ./terraform apply, validate, or plan I get the same error (see below) The error is benign and the logging stinks.

./terraform plan
Usage: terraform plan [options] [DIR-OR-PLAN]

  Generates an execution plan for Terraform.

  This execution plan can be reviewed prior to running apply to get a
  sense for what Terraform will do. Optionally